{% extends 'base.html.twig' %}

{% block title %}Hello Patient!{% endblock %}

{% block body %}

    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item loopyblue active" data-interval="">
                <div id="slider"></div>
                <div id="loopy-1">
                    <div id="glycemy-value"></div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="600px"
                         height="1000px" viewBox="0 0 600 1000" enable-background="new 0 0 600 1000" xml:space="preserve">
<g id="Calque_1">
    <rect fill="#579BCC" width="600" height="1000"/>
    <path fill="#437A99" d="M412.493,590.619c-12.377,0-23.669,4.502-32.278,11.91c0.003-0.002,0.003-0.004,0.003-0.006
		c0,0-0.025,0.025-0.066,0.061c-7.557,6.525-13.026,15.295-15.32,25.244c-0.073,0.289-0.14,0.582-0.207,0.873
		c-0.003,0.02-0.009,0.039-0.013,0.061c-0.598,2.631-0.954,5.396-0.961,8.279c0,0.055,0,0.113,0,0.166
		c-0.01,0.389-0.028,0.771-0.028,1.158v9.447v22.85c-0.02,26.111-0.032,56.156-0.032,58.057c-0.006,0.221-0.006,0.445-0.019,0.666
		c-0.003,0.113-0.013,0.246-0.022,0.393c-0.016,0.293-0.045,0.58-0.066,0.871c-0.3,3.314-1.486,10.707-6.15,18.049
		c-0.128,0.197-0.255,0.396-0.389,0.59c-0.238,0.365-0.502,0.727-0.76,1.088c-2.164,2.76-6.011,6.756-12.689,11.424
		c-6.048,3.48-13.086,5.488-20.598,5.488c-9.297,0-17.871-3.068-24.734-8.211c-0.977-0.766-8.86-7.145-12.775-16.08
		c-2.222-5.074-2.986-11.541-3.218-16.494v-76.299v-67.646v-59.682V455.23v-58.622v-67.646v-54.907v-67.646v-31.196
		c0-8.203-2.119-15.921-5.849-22.665c1.751-0.868,2.746-1.412,2.746-1.412s51.945-40.594,4.031-49.476
		S152.625,88.459,166.63,116.546c14.005,28.087,16.684,39.419,16.684,39.419s1.697,0.57,4.582,1.421
		c-0.772,1.944-1.374,3.826-1.842,5.593c-0.097,0.359-0.183,0.722-0.272,1.083c-0.052,0.219-0.103,0.435-0.152,0.648
		c-0.159,0.692-0.303,1.391-0.43,2.094c-0.043,0.232-0.089,0.468-0.127,0.693c-0.047,0.282-0.092,0.564-0.133,0.85
		c-0.63,4.149-0.511,6.867-0.511,6.867v31.196v66.778v55.774v66.778v59.489v66.778v60.549v66.777v57.471v20.691
		c0,0-0.403,22.689,5.062,37.475c0.013,0.033,0.024,0.062,0.035,0.094c3.29,10.93,9.042,24.533,19.12,38.721
		c0.921,1.312,1.884,2.596,2.849,3.873c0.026,0.035,0.048,0.066,0.073,0.1c3.682,4.865,7.69,9.477,11.99,13.814
		c0.347,0.352,0.673,0.709,1.025,1.061c0,0,0.019,0.002,0.033,0.004c25.099,24.762,59.872,40.143,98.281,40.143
		c12.052,0,23.748-1.518,34.903-4.359l-0.004,0.006c0,0,25.912-2.354,57.1-29.941c2.542-2.213,4.995-4.518,7.362-6.906
		c0.426-0.424,0.853-0.83,1.279-1.264c0,0,0-0.035,0-0.047c23.424-24.24,37.827-56.883,37.827-92.771v-12.037v-67.646v-9.447
		C461.364,611.996,439.483,590.619,412.493,590.619z"/>
    <g>
        <path fill="#FFFFFF" d="M270.021,252.859c-19.246,0-30.909-2.065-37.981-4.569c0,18.336,0,38.125,0,58.855
			c6.556,2.995,17.036,5.462,33.778,5.462c42.607,0,53.074-15.978,53.074-15.978v-56.199
			C318.892,240.431,318.892,252.859,270.021,252.859z"/>
        <path fill="#FFFFFF" d="M401.332,603.484c0.005-0.023,0.01-0.049,0.016-0.072C401.343,603.436,401.337,603.461,401.332,603.484z"
        />
        <path fill="#FFFFFF" d="M232.04,131.119c0,3.747,0,22.263,0,50.59c6.556,2.995,17.036,5.462,33.778,5.462
			c42.607,0,53.074-15.978,53.074-15.978v-31.93c0-26.99-21.881-48.871-48.871-48.871c-8.208,0-15.937,2.033-22.728,5.608
			c1.654-0.85,3.398-1.653,5.269-2.384C252.562,93.617,232.04,108.312,232.04,131.119z"/>
        <path fill="#FFFFFF" d="M400.185,708.004c0.05-0.514,0.079-0.938,0.098-1.273C400.259,707.158,400.221,707.58,400.185,708.004z"/>
        <path fill="#FFFFFF" d="M321.632,719.197c0.141,0.377,0.286,0.75,0.439,1.113C321.917,719.943,321.776,719.57,321.632,719.197z"/>
        <path fill="#FFFFFF" d="M222.503,127.851c0.086-0.366,0.175-0.734,0.273-1.111C222.679,127.107,222.592,127.479,222.503,127.851z"
        />
        <path fill="#FFFFFF" d="M318.892,703.613v-7.818c0,0-0.002,0.084-0.014,0.242C318.835,696.863,318.712,699.803,318.892,703.613z"
        />
        <path fill="#FFFFFF" d="M322.138,720.465c-0.011-0.025-0.023-0.051-0.034-0.076c0.002,0.006,0.004,0.01,0.006,0.016
			C322.118,720.424,322.129,720.443,322.138,720.465z"/>
        <path fill="#FFFFFF" d="M416.876,576.684c-7.56,6.68-13.03,15.66-15.325,25.848C405.172,587.783,415.979,577.516,416.876,576.684z
			"/>
        <path fill="#FFFFFF" d="M221.922,130.649c0.123-0.685,0.264-1.395,0.428-2.134C222.191,129.221,222.05,129.932,221.922,130.649z"
        />
        <path fill="#FFFFFF" d="M270.021,637.854c-19.246,0-30.909-2.064-37.981-4.568c0,51.637,0,86.793,0,90.273
			c10.201,4.258,27.566,8.475,49.874,2.303c34.343-9.498,36.792-27.541,36.965-29.824c0.008-0.152,0.014-0.242,0.014-0.242v-70.369
			C318.892,625.426,318.892,637.854,270.021,637.854z"/>
        <path fill="#FFFFFF" d="M270.021,507.532c-19.246,0-30.909-2.065-37.981-4.568c0,22.021,0,43.444,0,63.741
			c6.556,2.994,17.036,5.461,33.778,5.461c42.607,0,53.074-15.977,53.074-15.977v-61.085
			C318.892,495.104,318.892,507.532,270.021,507.532z"/>
        <path fill="#FFFFFF" d="M270.021,378.294c-19.246,0-30.909-2.065-37.981-4.569c0,20.668,0,41.692,0,62.656
			c6.556,2.996,17.036,5.463,33.778,5.463c42.607,0,53.074-15.978,53.074-15.978v-60
			C318.892,365.867,318.892,378.294,270.021,378.294z"/>
        <path fill="#FFFFFF" d="M400.373,612.125c-0.01,0.395-0.03,0.789-0.03,1.188v9.668c0,0,0.005,0.035,0.018,0.104
			C400.364,618.672,400.369,614.916,400.373,612.125z"/>
        <path fill="#FFFFFF" d="M400.312,705.768c-0.008,0.26-0.007,0.52-0.02,0.777c0.02-0.414,0.02-0.645,0.02-0.645
			S400.312,705.848,400.312,705.768z"/>
        <path fill="#FFFFFF" d="M221.66,132.236c0.042-0.286,0.084-0.571,0.134-0.871C221.747,131.655,221.702,131.945,221.66,132.236z"/>
        <path fill="#FFFFFF" d="M394.162,726.07c-0.419,0.67-0.858,1.324-1.314,1.967c0.111-0.143,0.218-0.283,0.319-0.42
			C393.518,727.104,393.846,726.586,394.162,726.07z"/>
        <path fill="#FFFFFF" d="M450.765,808.684c3.289-2.883,6.441-5.916,9.444-9.092C457.021,802.895,453.866,805.914,450.765,808.684z"
        />
        <path fill="#FFFFFF" d="M408.817,775.062c-3.901-30.439-28.57-35.408-28.6-35.414c-6.048,3.562-13.087,5.615-20.601,5.615
			c-9.296,0-17.868-3.137-24.73-8.398c0.065,0.053,0.1,0.078,0.1,0.078s-0.748,37.336-28.082,52.176
			c-27.334,14.838-45.599,12.795-45.6,12.795c25.1,25.355,59.896,41.092,98.313,41.092c12.052,0,23.747-1.551,34.901-4.457
			C394.523,838.541,412.723,805.516,408.817,775.062z"/>
        <path fill="#FFFFFF" d="M449.214,704.645c-22.831,0-34.994-2.906-41.477-6.002c-0.021,3.098-0.033,5.666-0.033,7.523
			c0,7.752-3.735,13.943-7.925,18.449c7.423,1.484,23.295,5.521,38.716,15.033c21.057,12.986,21.763,59.754,21.765,59.889
			c23.435-24.812,37.825-58.256,37.825-95v-12.32C498.085,692.217,498.085,704.645,449.214,704.645z"/>
        <path fill="#FFFFFF" d="M261.303,801.914c-6.4-6.574-11.756-13.221-16.249-19.744
			C249.861,789.246,255.305,795.854,261.303,801.914z"/>
        <path fill="#FFFFFF" d="M449.214,564.441c-12.374,0-23.666,4.607-32.276,12.189c-6.646,14.111-8.148,30.436-8.148,30.436
			s-0.142,10.615-0.322,25.01c6.233,3.594,17.217,6.881,36.544,6.881c42.608,0,53.074-15.977,53.074-15.977v-9.668
			C498.085,586.322,476.204,564.441,449.214,564.441z"/>
        <path fill="#FFFFFF" d="M450.321,809.078c-0.086,0.076-0.171,0.146-0.258,0.223C450.149,809.227,450.235,809.152,450.321,809.078z
			"/>
        <path fill="#FF0000" d="M265.817,187.172c-16.742,0-27.222-2.467-33.778-5.462c0,18.475,0,41.131,0,66.581
			c7.072,2.503,18.735,4.569,37.981,4.569c48.871,0,48.871-12.428,48.871-12.428v-69.237
			C318.892,171.194,308.425,187.172,265.817,187.172z"/>
        <path fill="#FF0000" d="M265.817,312.607c-16.742,0-27.222-2.467-33.778-5.462c0,21.383,0,43.762,0,66.581
			c7.072,2.503,18.735,4.569,37.981,4.569c48.871,0,48.871-12.428,48.871-12.428V296.63
			C318.892,296.63,308.425,312.607,265.817,312.607z"/>
        <path fill="#FF0000" d="M265.817,441.845c-16.742,0-27.222-2.467-33.778-5.463c0,22.437,0,44.801,0,66.582
			c7.072,2.503,18.735,4.568,37.981,4.568c48.871,0,48.871-12.428,48.871-12.428v-69.237
			C318.892,425.867,308.425,441.845,265.817,441.845z"/>
        <path fill="#FF0000" d="M265.817,572.166c-16.742,0-27.222-2.467-33.778-5.461c0,24.078,0,46.562,0,66.58
			c7.072,2.504,18.735,4.568,37.981,4.568c48.871,0,48.871-12.428,48.871-12.428v-69.236
			C318.892,556.189,308.425,572.166,265.817,572.166z"/>
        <path fill="#FF0000" d="M400.343,622.98v23.689c0.006-8.641,0.012-16.869,0.018-23.586
			C400.348,623.016,400.343,622.98,400.343,622.98z"/>
        <path fill="#FF0000" d="M445.011,638.957c-19.327,0-30.311-3.287-36.544-6.881c-0.268,21.289-0.62,50.838-0.729,66.566
			c6.482,3.096,18.646,6.002,41.477,6.002c48.871,0,48.871-12.428,48.871-12.428V622.98
			C498.085,622.98,487.619,638.957,445.011,638.957z"/>
        <path fill="#FF0000" d="M334.887,736.865c-0.971-0.781-8.824-7.283-12.749-16.4C324.914,726.975,329.342,732.613,334.887,736.865z
			"/>
        <path fill="#FF0000" d="M321.632,719.197c-1.841-4.947-2.521-10.912-2.74-15.584v0.924
			C318.892,709.705,319.869,714.645,321.632,719.197z"/>
        <path fill="#FF0000" d="M234.686,764.537c0,0-0.946-2.045-2.737-6.504c-0.95-2.26-1.844-4.547-2.676-6.865
			c-0.915-2.408-1.933-5.146-3.062-8.273c-0.001-0.002-0.001-0.004-0.002-0.006c3.252,11.084,8.932,24.883,18.845,39.281
			c-3.908-5.754-7.394-11.814-10.415-18.141C234.668,764.35,234.686,764.537,234.686,764.537z"/>
        <polygon fill="#FF0000" points="261.304,801.914 261.304,801.914 261.303,801.914 		"/>
        <path fill="#FF0000" d="M322.071,720.311c0.011,0.025,0.021,0.053,0.032,0.078C322.093,720.363,322.083,720.336,322.071,720.311z"
        />
        <path fill="#FF0000" d="M306.904,789.119c27.334-14.84,28.082-52.176,28.082-52.176s-0.034-0.025-0.1-0.078
			c-5.545-4.252-9.973-9.891-12.749-16.4c-0.009-0.021-0.02-0.041-0.028-0.061c-0.002-0.006-0.004-0.01-0.006-0.016
			c-0.011-0.025-0.021-0.053-0.032-0.078c-0.153-0.363-0.299-0.736-0.439-1.113c-1.763-4.553-2.74-9.492-2.74-14.66v-0.924
			c-0.18-3.811-0.057-6.75-0.014-7.576c-0.173,2.283-2.622,20.326-36.965,29.824c-22.308,6.172-39.672,1.955-49.874-2.303
			c0,0.189,0,0.307,0,0.307c0,11.709,2.249,36.387,2.599,40.164c3.021,6.326,6.507,12.387,10.415,18.141
			c4.493,6.523,9.849,13.17,16.249,19.744c0,0,0.001,0,0.001,0C261.306,801.914,279.57,803.957,306.904,789.119z"/>
        <path fill="#FF0000" d="M231.949,758.033c-0.746-1.855-1.644-4.146-2.676-6.865C230.104,753.486,230.999,755.773,231.949,758.033z
			"/>
        <path fill="#FF0000" d="M318.892,695.795c0,0-0.006,0.09-0.014,0.242C318.89,695.879,318.892,695.795,318.892,695.795z"/>
        <path fill="#FF0000" d="M460.26,799.541v-0.004c-0.017,0.018-0.033,0.037-0.051,0.055
			C460.227,799.574,460.243,799.559,460.26,799.541z"/>
        <path fill="#FF0000" d="M450.765,808.684c-0.148,0.131-0.294,0.264-0.443,0.395C450.47,808.945,450.617,808.816,450.765,808.684z"
        />
        <path fill="#FF0000" d="M388.347,733.373c0.065-0.064,0.126-0.129,0.19-0.193c1.575-1.59,3.014-3.312,4.311-5.143
			c-2.178,2.822-6.025,6.885-12.631,11.611h0.001c2.97-1.75,5.704-3.857,8.131-6.275H388.347z"/>
        <path fill="#FF0000" d="M394.519,838.549c0,0,25.055-2.322,55.545-29.248C434.255,822.969,415.332,833.123,394.519,838.549
			L394.519,838.549z"/>
        <path fill="#FF0000" d="M393.167,727.617c-0.102,0.137-0.208,0.277-0.319,0.42c-1.297,1.83-2.735,3.553-4.311,5.143
			C390.342,731.395,391.873,729.518,393.167,727.617z"/>
        <path fill="#FF0000" d="M438.495,739.648c-15.421-9.512-31.293-13.549-38.716-15.033c-5.337,5.74-11.407,8.746-11.431,8.758
			c-2.427,2.418-5.161,4.525-8.131,6.275c0.029,0.006,24.698,4.975,28.6,35.414c3.905,30.453-14.294,63.479-14.299,63.486
			c20.813-5.426,39.736-15.58,55.545-29.248c0.087-0.076,0.172-0.146,0.258-0.223c0.149-0.131,0.295-0.264,0.443-0.395
			c3.102-2.77,6.256-5.789,9.444-9.092c0.018-0.018,0.034-0.037,0.051-0.055C460.258,799.402,459.552,752.635,438.495,739.648z"/>
        <path fill="#B3B3B3" d="M222.35,128.515c0.05-0.222,0.101-0.443,0.153-0.664C222.451,128.074,222.399,128.295,222.35,128.515z"/>
        <path fill="#B3B3B3" d="M221.794,131.366c0.039-0.24,0.085-0.478,0.128-0.717C221.879,130.889,221.833,131.133,221.794,131.366z"
        />
        <path fill="#B3B3B3" d="M221.149,139.264c0-2.387,0.18-4.732,0.51-7.028C221.03,136.483,221.149,139.264,221.149,139.264z"/>
        <path fill="#B3B3B3" d="M247.293,96.001c-15.723,8.08-22.017,21.088-24.517,30.738
			C226.305,113.396,235.335,102.297,247.293,96.001z"/>
        <path fill="#B3B3B3" d="M221.851,718.049c-0.353-3.627-0.571-7.291-0.638-10.992c-0.041-0.834-0.063-1.674-0.063-2.52
			c0,0-0.403,23.219,5.06,38.352c-4.358-14.859-4.361-24.842-4.361-24.842S221.85,718.049,221.851,718.049z"/>
        <path fill="#FFFFFF" d="M232.04,307.145c0-20.73,0-40.519,0-58.855c-10.887-3.854-10.89-8.747-10.89-8.747v57.086
			C221.149,296.63,221.911,302.518,232.04,307.145z"/>
        <path fill="#B3B3B3" d="M232.04,307.145c0-20.73,0-40.519,0-58.855c-10.887-3.854-10.89-8.747-10.89-8.747v57.086
			C221.149,296.63,221.911,302.518,232.04,307.145z"/>
        <path fill="#FFFFFF" d="M232.04,181.709c0-28.328,0-46.844,0-50.59c0-22.807,20.522-37.502,20.522-37.502
			c-1.87,0.731-3.614,1.534-5.269,2.384c-11.958,6.295-20.988,17.395-24.517,30.738c-0.098,0.376-0.187,0.745-0.273,1.111
			c-0.053,0.221-0.104,0.442-0.153,0.664c-0.165,0.74-0.305,1.449-0.428,2.134c-0.042,0.239-0.089,0.477-0.128,0.717
			c-0.05,0.299-0.092,0.584-0.134,0.871c-0.331,2.296-0.51,4.641-0.51,7.028v31.93C221.149,171.194,221.911,177.082,232.04,181.709z
			"/>
        <path fill="#B3B3B3" d="M232.04,181.709c0-28.328,0-46.844,0-50.59c0-22.807,20.522-37.502,20.522-37.502
			c-1.87,0.731-3.614,1.534-5.269,2.384c-11.958,6.295-20.988,17.395-24.517,30.738c-0.098,0.376-0.187,0.745-0.273,1.111
			c-0.053,0.221-0.104,0.442-0.153,0.664c-0.165,0.74-0.305,1.449-0.428,2.134c-0.042,0.239-0.089,0.477-0.128,0.717
			c-0.05,0.299-0.092,0.584-0.134,0.871c-0.331,2.296-0.51,4.641-0.51,7.028v31.93C221.149,171.194,221.911,177.082,232.04,181.709z
			"/>
        <path fill="#FFFFFF" d="M232.04,436.382c0-20.964,0-41.988,0-62.656c-10.887-3.854-10.89-8.747-10.89-8.747v60.888
			C221.149,425.867,221.911,431.755,232.04,436.382z"/>
        <path fill="#B3B3B3" d="M232.04,436.382c0-20.964,0-41.988,0-62.656c-10.887-3.854-10.89-8.747-10.89-8.747v60.888
			C221.149,425.867,221.911,431.755,232.04,436.382z"/>
        <path fill="#FFFFFF" d="M221.851,718.049c0.022,0.018,3.626,2.771,10.189,5.51c0-3.48,0-38.637,0-90.273
			c-10.887-3.854-10.89-8.746-10.89-8.746v58.822v21.176c0,0.846,0.022,1.686,0.063,2.52
			C221.279,710.758,221.498,714.422,221.851,718.049z"/>
        <path fill="#B3B3B3" d="M221.851,718.049c0.022,0.018,3.626,2.771,10.189,5.51c0-3.48,0-38.637,0-90.273
			c-10.887-3.854-10.89-8.746-10.89-8.746v58.822v21.176c0,0.846,0.022,1.686,0.063,2.52
			C221.279,710.758,221.498,714.422,221.851,718.049z"/>
        <path fill="#FFFFFF" d="M232.04,566.705c0-20.297,0-41.72,0-63.741c-10.887-3.854-10.89-8.747-10.89-8.747v61.973
			C221.149,556.189,221.911,562.078,232.04,566.705z"/>
        <path fill="#B3B3B3" d="M232.04,566.705c0-20.297,0-41.72,0-63.741c-10.887-3.854-10.89-8.747-10.89-8.747v61.973
			C221.149,556.189,221.911,562.078,232.04,566.705z"/>
        <path fill="#FF0000" d="M232.04,248.29c0-25.45,0-48.105,0-66.581c-10.128-4.627-10.89-10.515-10.89-10.515v68.349
			C221.149,239.543,221.153,244.436,232.04,248.29z"/>
        <path fill="#C2000B" d="M232.04,248.29c0-25.45,0-48.105,0-66.581c-10.128-4.627-10.89-10.515-10.89-10.515v68.349
			C221.149,239.543,221.153,244.436,232.04,248.29z"/>
        <path fill="#FF0000" d="M232.04,373.726c0-22.819,0-45.197,0-66.581c-10.128-4.627-10.89-10.515-10.89-10.515v68.349
			C221.149,364.979,221.153,369.872,232.04,373.726z"/>
        <path fill="#C2000B" d="M232.04,373.726c0-22.819,0-45.197,0-66.581c-10.128-4.627-10.89-10.515-10.89-10.515v68.349
			C221.149,364.979,221.153,369.872,232.04,373.726z"/>
        <path fill="#FF0000" d="M232.04,502.964c0-21.781,0-44.146,0-66.582c-10.128-4.627-10.89-10.515-10.89-10.515v68.35
			C221.149,494.217,221.153,499.109,232.04,502.964z"/>
        <path fill="#C2000B" d="M232.04,502.964c0-21.781,0-44.146,0-66.582c-10.128-4.627-10.89-10.515-10.89-10.515v68.35
			C221.149,494.217,221.153,499.109,232.04,502.964z"/>
        <path fill="#FF0000" d="M232.04,633.285c0-20.018,0-42.502,0-66.58c-10.128-4.627-10.89-10.516-10.89-10.516v68.35
			C221.149,624.539,221.153,629.432,232.04,633.285z"/>
        <path fill="#C2000B" d="M232.04,633.285c0-20.018,0-42.502,0-66.58c-10.128-4.627-10.89-10.516-10.89-10.516v68.35
			C221.149,624.539,221.153,629.432,232.04,633.285z"/>
        <path fill="#FF0000" d="M229.273,751.168c-3.771-10.514-6.303-21.613-7.422-33.119c0,0-0.003-0.002-0.003-0.002
			s0.003,9.982,4.361,24.842c0.001,0.002,0.001,0.004,0.002,0.006C227.34,746.021,228.358,748.76,229.273,751.168z"/>
        <path fill="#B3B3B3" d="M229.273,751.168c-3.771-10.514-6.303-21.613-7.422-33.119c0,0-0.003-0.002-0.003-0.002
			s0.003,9.982,4.361,24.842c0.001,0.002,0.001,0.004,0.002,0.006C227.34,746.021,228.358,748.76,229.273,751.168z"/>
        <path fill="#FF0000" d="M234.686,764.537c0,0-0.018-0.188-0.047-0.508c-0.942-1.973-1.839-3.973-2.69-5.996
			C233.74,762.492,234.686,764.537,234.686,764.537z"/>
        <path fill="#B3B3B3" d="M234.686,764.537c0,0-0.018-0.188-0.047-0.508c-0.942-1.973-1.839-3.973-2.69-5.996
			C233.74,762.492,234.686,764.537,234.686,764.537z"/>
        <path fill="#FF0000" d="M229.273,751.168c1.032,2.719,1.93,5.01,2.676,6.865c0.851,2.023,1.748,4.023,2.69,5.996
			c-0.351-3.777-2.599-28.455-2.599-40.164c0,0,0-0.117,0-0.307c-6.563-2.738-10.167-5.492-10.189-5.51
			C222.97,729.555,225.502,740.654,229.273,751.168z"/>
        <path fill="#C2000B" d="M229.273,751.168c1.032,2.719,1.93,5.01,2.676,6.865c0.851,2.023,1.748,4.023,2.69,5.996
			c-0.351-3.777-2.599-28.455-2.599-40.164c0,0,0-0.117,0-0.307c-6.563-2.738-10.167-5.492-10.189-5.51
			C222.97,729.555,225.502,740.654,229.273,751.168z"/>
        <path fill="#B3B3B3" d="M416.94,576.625c0,0-0.025,0.023-0.064,0.059c0.021-0.018,0.041-0.035,0.062-0.053
			C416.938,576.629,416.939,576.627,416.94,576.625z"/>
        <path fill="#B3B3B3" d="M400.373,611.955c0,0.055,0,0.115,0,0.17c0.07-2.951,0.388-5.842,0.959-8.641
			C400.735,606.178,400.377,609.008,400.373,611.955z"/>
        <path fill="#B3B3B3" d="M400.282,706.73c0.003-0.062,0.007-0.123,0.01-0.186C400.289,706.602,400.285,706.666,400.282,706.73z"/>
        <path fill="#B3B3B3" d="M400.343,691.33v-44.66c-0.018,26.561-0.03,56.965-0.031,59.098c0.013-0.41,0.031-0.818,0.031-1.23V691.33
			z"/>
        <path fill="#B3B3B3" d="M394.162,726.07c3.333-5.328,5.464-11.475,6.022-18.066C399.851,711.488,398.624,718.799,394.162,726.07z"
        />
        <path fill="#B3B3B3" d="M401.348,603.412c0.061-0.297,0.137-0.586,0.203-0.881C401.479,602.822,401.413,603.117,401.348,603.412z"
        />
        <path fill="#FFFFFF" d="M395.456,723.865c0,0,1.596,0.205,4.323,0.75c4.189-4.506,7.925-10.697,7.925-18.449
			c0-1.857,0.012-4.426,0.033-7.523c-7.393-3.533-7.395-7.312-7.395-7.312v13.207c0,0.412-0.019,0.82-0.031,1.23
			c0,0.08,0,0.133,0,0.133s0,0.23-0.02,0.645c-0.003,0.062-0.007,0.123-0.01,0.186c-0.019,0.336-0.048,0.76-0.098,1.273
			c-0.559,6.592-2.689,12.738-6.022,18.066c-0.316,0.516-0.645,1.033-0.995,1.547C394.935,725.252,395.456,723.865,395.456,723.865z
			"/>
        <path fill="#B3B3B3" d="M395.456,723.865c0,0,1.596,0.205,4.323,0.75c4.189-4.506,7.925-10.697,7.925-18.449
			c0-1.857,0.012-4.426,0.033-7.523c-7.393-3.533-7.395-7.312-7.395-7.312v13.207c0,0.412-0.019,0.82-0.031,1.23
			c0,0.08,0,0.133,0,0.133s0,0.23-0.02,0.645c-0.003,0.062-0.007,0.123-0.01,0.186c-0.019,0.336-0.048,0.76-0.098,1.273
			c-0.559,6.592-2.689,12.738-6.022,18.066c-0.316,0.516-0.645,1.033-0.995,1.547C394.935,725.252,395.456,723.865,395.456,723.865z
			"/>
        <path fill="#FFFFFF" d="M408.467,632.076c0.181-14.395,0.322-25.01,0.322-25.01s1.503-16.324,8.148-30.436
			c-0.021,0.018-0.041,0.035-0.062,0.053c-0.896,0.832-11.704,11.1-15.325,25.848c-0.066,0.295-0.143,0.584-0.203,0.881
			c-0.006,0.023-0.011,0.049-0.016,0.072c-0.571,2.799-0.889,5.689-0.959,8.641c-0.004,2.791-0.009,6.547-0.013,10.959
			C400.5,623.799,401.605,628.123,408.467,632.076z"/>
        <path fill="#B3B3B3" d="M408.467,632.076c0.181-14.395,0.322-25.01,0.322-25.01s1.503-16.324,8.148-30.436
			c-0.021,0.018-0.041,0.035-0.062,0.053c-0.896,0.832-11.704,11.1-15.325,25.848c-0.066,0.295-0.143,0.584-0.203,0.881
			c-0.006,0.023-0.011,0.049-0.016,0.072c-0.571,2.799-0.889,5.689-0.959,8.641c-0.004,2.791-0.009,6.547-0.013,10.959
			C400.5,623.799,401.605,628.123,408.467,632.076z"/>
        <path fill="#FF0000" d="M407.737,698.643c0.109-15.729,0.462-45.277,0.729-66.566c-6.861-3.953-7.967-8.277-8.106-8.992
			c-0.006,6.717-0.012,14.945-0.018,23.586v44.66C400.343,691.33,400.345,695.109,407.737,698.643z"/>
        <path fill="#C2000B" d="M407.737,698.643c0.109-15.729,0.462-45.277,0.729-66.566c-6.861-3.953-7.967-8.277-8.106-8.992
			c-0.006,6.717-0.012,14.945-0.018,23.586v44.66C400.343,691.33,400.345,695.109,407.737,698.643z"/>
        <path fill="#FF0000" d="M388.537,733.18c-0.064,0.064-0.125,0.129-0.19,0.193h0.002
			C388.412,733.309,388.474,733.244,388.537,733.18z"/>
        <path fill="#B3B3B3" d="M388.537,733.18c-0.064,0.064-0.125,0.129-0.19,0.193h0.002
			C388.412,733.309,388.474,733.244,388.537,733.18z"/>
        <path fill="#FF0000" d="M393.167,727.617c-1.294,1.9-2.825,3.777-4.63,5.562c-0.063,0.064-0.125,0.129-0.188,0.193
			c0.023-0.012,6.094-3.018,11.431-8.758c-2.728-0.545-4.323-0.75-4.323-0.75S394.935,725.252,393.167,727.617z"/>
        <path fill="#C2000B" d="M393.167,727.617c-1.294,1.9-2.825,3.777-4.63,5.562c-0.063,0.064-0.125,0.129-0.188,0.193
			c0.023-0.012,6.094-3.018,11.431-8.758c-2.728-0.545-4.323-0.75-4.323-0.75S394.935,725.252,393.167,727.617z"/>
    </g>

    <circle fill="#FFFFFF" stroke="#FFFFFF" stroke-width="7.2125" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="335.629" cy="215.463" r="44.945"/>

    <circle stroke="#FFFFFF" stroke-width="8.1452" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="334.986" cy="215.257" r="40.866"/>

    <circle fill="#FFFFFF" stroke="#FFFFFF" stroke-width="8.1452" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="359.455" cy="213.296" r="3.645"/>
    <path d="M267.313,289.249c0,0,21.06,0.766,29.483-11.487c0,0,4.213,19.144-8.806,24.122
		C274.972,306.862,267.313,289.249,267.313,289.249z"/>

    <circle fill="#FFFFFF" stroke="#FFFFFF" stroke-width="7.3784" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="207.822" cy="215.429" r="45.979"/>

    <circle stroke="#FFFFFF" stroke-width="8.1452" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="207.921" cy="215.257" r="40.867"/>

    <circle fill="#FFFFFF" stroke="#FFFFFF" stroke-width="8.1452" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="229.855" cy="214.916" r="5.265"/>
    <path fill="#FFFFFF" d="M420.703,403.975c11.438,0.956,21.487-7.537,22.443-18.98l2.027-24.237
		c0.955-11.439-7.544-21.488-18.982-22.443l0,0c-11.434-0.958-21.484,7.543-22.44,18.985l-2.027,24.237
		C400.768,392.976,409.27,403.021,420.703,403.975L420.703,403.975z"/>

    <path fill="none" stroke="#FFFFFF" stroke-width="16.8422" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M340.121,292.661c0,0,48.226-20.359,64.716,23.993"/>
    <path fill="#FFFFFF" d="M105.096,426.06c-2.513,11.199,4.525,22.316,15.73,24.83l23.731,5.325
		c11.201,2.511,22.318-4.533,24.829-15.733l0,0c2.514-11.195-4.532-22.314-15.736-24.828l-23.731-5.324
		C118.719,407.816,107.604,414.864,105.096,426.06L105.096,426.06z"/>

    <path fill="none" stroke="#FFFFFF" stroke-width="16.8422" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M242.029,364.144c0,0-2.073,47.881-48.263,58.148"/>
    <g>
        <path fill="#FFFFFF" d="M254.895,228.986l-1.094-1.208l-7.68-12.534c0.988-0.869,10.14-8.485,26.917-8.485
			c16.603,0,23.139,5.495,24.458,6.749l-5.475,12.877c0,0-1.507,1.826-1.337,1.961c-0.041-0.032-7.463-5.273-17.646-5.273
			C262.439,223.074,255.121,228.802,254.895,228.986z"/>
    </g>
    <path d="M221.66,132.236c0,0,8.805,28.4,63.248,23.282s51.267-20.671,32.505-28.223L221.66,132.236z"/>
    <path fill="#0B0146" d="M221.66,132.236c0,0,24.842,8.55,46.956,9.287s48.797-14.228,48.797-14.228s51.945-41.549,4.031-50.64
		S190.97,63.142,204.976,91.89S221.66,132.236,221.66,132.236z"/>
</g>
                        <g id="Calque_2">

                            <path fill="#F2F2F2" stroke="#FFFFFF" stroke-width="8.1452" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		M580.468,439.171c0,26.604-21.566,48.169-48.17,48.169H397.596c-26.603,0-48.168-21.565-48.168-48.169l0,0
		c0-26.603,21.565-48.169,48.168-48.169h134.702C558.901,391.002,580.468,412.568,580.468,439.171L580.468,439.171z"/>
                        </g>
                        <g id="texte">
                        </g>
                        <g id="Calque_3">
                            <path fill="#FFFFFF" d="M493.191,392.085c10.184-14.884,6.376-35.202-8.506-45.386l-27.766-19.001
		c-14.881-10.187-35.195-6.375-45.382,8.506l0,0c-10.185,14.882-6.379,35.199,8.503,45.384l27.764,19
		C462.686,410.775,483.004,406.966,493.191,392.085L493.191,392.085z"/>
                            <path fill="#FFFFFF" d="M106.954,499.493c13.351,12.125,33.998,11.133,46.123-2.215l22.621-24.904
		c12.127-13.347,11.132-33.992-2.216-46.119l0,0c-13.348-12.125-33.995-11.135-46.12,2.213l-22.621,24.903
		C92.615,466.716,93.607,487.365,106.954,499.493L106.954,499.493z"/>
                        </g>
</svg>                </div>
            </div>
            <div class="carousel-item loopyblue" data-interval="">
                <div class="semi" id="doctor">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="auto"
                         height="100%" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <g id="doc-calque-1">
    <g>
        <g>
            <g>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBD9AB" d="M86.259,114.536c-5.77-1.583-11.512-3.291-15.886-7.679
					c-1.764-1.769-3.146-3.912-4.798-5.802c-0.653-0.747-1.5-1.689-2.372-1.827c-13.559-2.148-18.204-9.207-14.809-22.689
					c0.022-0.087,0.03-0.178,0.044-0.267c2.983-3.167,5.036-3.675,8.456-1.044c2.187,1.682,3.638,4.305,5.494,6.441
					c0.584,0.673,1.479,1.642,2.11,1.558c0.704-0.093,1.473-1.137,1.84-1.938c0.354-0.771,0.248-1.76,0.314-2.656
					c0.174-2.335,0.155-4.701,0.531-7.002c1.107-6.773,2.304-7.934,9.256-7.766c6.851,0.166,13.691,0.809,20.533,1.292
					c12.79,0.904,25.591,2.21,38.187-1.563c2.354,10.309,4.023,20.66,3.407,31.326c-0.42,7.277-4,12.334-10.198,15.403
					c-4.15,2.056-8.758,3.187-13.159,4.731c-2.372,0.084-4.752,0.09-7.115,0.303c-0.633,0.058-1.209,0.744-1.811,1.142
					c-0.742,1.374-1.484,2.746-2.227,4.119c-1.761-0.043-3.521-0.086-5.282-0.129c-1.331-1.422-2.661-2.845-3.991-4.268
					c-0.625-0.438-1.213-1.178-1.882-1.26C90.703,114.691,88.476,114.659,86.259,114.536z M96.934,90.705
					c0.194,4.226,1.274,8.067,3.581,11.527c2.918,4.377,8.092,5.838,12.842,3.651c5.242-2.415,8.122-10.344,6.174-16.588
					C112.059,89.76,104.642,90.223,96.934,90.705z M75.429,96.088c-0.043,4.138,2.908,7.243,6.937,7.298
					c4.097,0.056,7.115-2.928,7.18-7.1c0.072-4.545-2.656-7.503-6.958-7.546C78.245,88.696,75.477,91.538,75.429,96.088z
					 M130.185,85.476c-4.152,0.01-6.955,2.928-6.986,7.273c-0.029,4.04,3.059,6.884,7.434,6.847c4.206-0.035,7.228-3.027,7.2-7.125
					C137.804,88.303,134.702,85.466,130.185,85.476z M55.09,80.955c-0.206,0.229-0.413,0.459-0.619,0.689
					c1.905,1.245,3.594,2.504,1.705,4.925c-1.805,2.314-1.581,3.637,1.009,5.13c0.819,0.472,2.251,0.748,2.938,0.336
					c0.69-0.413,1.316-1.964,1.067-2.718c-0.686-2.078-1.663-4.123-2.887-5.936C57.593,82.33,56.185,81.748,55.09,80.955z
					 M128.904,78.532c-0.014-2.281-1.509-4.321-3.212-4.385c-1.72-0.065-3.076,1.723-3.062,4.04s1.454,4.302,3.181,4.386
					C127.51,82.655,128.918,80.816,128.904,78.532z M90.333,82.693c-0.039-2.384-1.437-4.26-3.202-4.298
					c-1.765-0.037-3.055,1.672-3.029,4.014c0.026,2.394,1.402,4.229,3.2,4.269C89.125,86.72,90.372,85.081,90.333,82.693z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#38454E" d="M132.972,237.137c-1.248,10.952-2.496,21.904-3.744,32.856
					c-1.977,0.543-3.931,1.421-5.935,1.558c-3.82,0.261-7.668,0.098-11.504,0.11c-0.718-0.198-1.438-0.396-2.156-0.594
					c-0.364-1.274-1.011-2.542-1.046-3.825c-0.264-9.708-0.375-19.421-0.604-29.13c-0.102-4.308-0.292-8.616-0.585-12.915
					c-0.182-2.677-0.593-5.341-1.011-7.992c-0.044-0.279-0.831-0.441-1.273-0.658c-0.234,0.105-0.664,0.193-0.675,0.318
					c-0.285,3.296-0.581,6.594-0.7,9.897c-0.013,0.375,1.016,0.788,1.562,1.183c0.023,0.177,0.023,0.352-0.001,0.527
					c-1.774-0.402-2.077,0.526-1.792,1.984c-0.09,0.886-0.18,1.771-0.27,2.657c-0.064,1.445-0.129,2.89-0.193,4.334
					c-0.104,0.904-0.208,1.81-0.312,2.713c-0.084,0.17-0.096,0.344-0.036,0.522c-0.014,0.369-0.028,0.738-0.043,1.107
					c-0.247,3.617-0.494,7.234-0.742,10.852c-0.109,1.269-0.217,2.537-0.326,3.806c-0.117,1.813-0.234,3.628-0.352,5.441
					c-0.056,0.538-0.111,1.076-0.167,1.614c-0.053,1.261-0.106,2.521-0.16,3.781c-0.379,1.082-0.759,2.165-1.138,3.247
					c-0.332,0.192-0.664,0.385-0.997,0.577c-5.058,0.165-10.115,0.329-15.172,0.494c-0.536-1.613-1.426-3.2-1.549-4.844
					c-0.679-9.058-1.171-18.129-1.728-27.195c4.16-0.531,8.32-1.062,12.479-1.594c1.626-0.302,3.292-0.479,4.856-0.976
					c0.54-0.171,0.826-1.14,1.228-1.745c0.118-2.709,0.235-5.418,0.353-8.126c0.008-0.543,0.016-1.086,0.023-1.629
					c-0.289-1.964-0.577-3.928-0.866-5.892c0.357-0.644,0.998-1.278,1.021-1.934c0.101-2.883,0.04-5.772,0.005-8.658
					c-0.045-3.782-0.122-7.564-0.185-11.347c0.985,0.002,1.975,0.071,2.954-0.006c5.712-0.451,11.421-0.937,17.132-1.41
					c0.631,12.186,1.275,24.37,1.878,36.557c0.083,1.66,0.271,2.974,2.384,3.164C126.723,236.254,129.844,236.738,132.972,237.137z"
                />
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#38454D" d="M158.504,127.704c1.786,0.22,3.57,0.466,5.359,0.653
					c4.225,0.441,5.565,2.221,4.712,6.337c-1.26,6.078-2.53,12.153-3.795,18.229c-3.224-0.244-6.46-0.739-9.669-0.597
					c-1.105,0.05-2.141,1.687-3.209,2.599c-1.647,3.402-1.856,6.868,0.656,9.821c2.356,2.771,5.536,1.857,8.525,0.976
					c0.258-0.075,0.521-0.135,0.781-0.201c-0.708,2.931-1.417,5.861-2.125,8.789c-0.25-2.279-1.242-1.765-2.683-0.892
					c-1.806,1.094-3.722,2.095-5.714,2.774c-3.598,1.228-7.245,0.592-10.891-0.106c-10.707-2.05-18.94-7.743-23.427-17.607
					c-2.45-5.386-3.159-11.558-4.713-17.359c-0.287-1.067-0.865-2.057-1.307-3.083c0.461-3.633,0.771-7.295,1.454-10.887
					c0.298-1.566,1.362-2.987,2.078-4.474c1.212-0.159,2.424-0.317,3.636-0.475c0.823,0.207,1.646,0.414,2.469,0.62
					c2.291,0.233,4.583,0.465,6.874,0.697c0.137,1.761,0.293,3.469,2.604,3.771c8.118,1.059,16.238,2.109,24.344,3.256
					C156.842,130.882,158.036,129.901,158.504,127.704z M129.131,134.686c0.753-0.943,1.551-1.505,1.538-2.048
					c-0.013-0.547-0.826-1.494-1.3-1.5c-0.549-0.008-1.474,0.758-1.562,1.298C127.72,132.97,128.473,133.641,129.131,134.686z
					 M152.661,133.524c-0.788,0.932-1.627,1.49-1.616,2.031c0.012,0.556,0.827,1.498,1.338,1.53
					c0.525,0.034,1.458-0.759,1.564-1.314C154.046,135.249,153.299,134.566,152.661,133.524z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M53.02,186.956c0.002-0.718,0.003-1.435,0.005-2.152
					c1.754-1.753,1.093-3.588,0.181-5.431c0.012-0.362,0.023-0.726,0.035-1.089c1.929-2.038,1.068-4.286,0.492-6.513
					c0.03-0.551,0.06-1.102,0.09-1.653c0.867-3.881,1.795-7.749,2.578-11.646c0.465-2.318,0.702-4.682,1.041-7.025
					c0.059-0.285,0.118-0.571,0.177-0.856c0.316-0.936,0.632-1.872,0.949-2.808c-0.026-0.16,0.011-0.304,0.112-0.43
					c0.31-0.806,0.619-1.611,0.928-2.416c0.077-0.279,0.155-0.559,0.232-0.837c0.489-1.09,0.979-2.18,1.468-3.27
					c0.173-0.365,0.346-0.73,0.519-1.095c1.946-1.064,2.921-2.665,2.716-4.917l-0.014,0.012c2.378-0.708,3.168-2.528,3.346-4.777
					L67.906,130c0.159-0.183,0.318-0.366,0.477-0.548l0.009-0.011c0.171-0.194,0.343-0.389,0.515-0.583l-0.021,0.016
					c1.083-1.098,2.167-2.195,3.25-3.293l-0.017,0.035c0.196-0.182,0.391-0.365,0.586-0.547c0,0-0.015,0.013-0.015,0.014
					c0.19-0.174,0.38-0.349,0.57-0.522c0.489-0.38,0.979-0.76,1.468-1.14c0.233-0.171,0.465-0.343,0.698-0.515l-0.018,0.013
					c0.184-0.143,0.368-0.286,0.551-0.428c0.074-0.121,0.183-0.176,0.325-0.167c0.257-0.166,0.513-0.333,0.769-0.499l-0.01,0.005
					c0.965,0.204,1.93,0.408,2.895,0.612c-0.07,0.163-0.139,0.326-0.209,0.488c-0.042,0.177-0.084,0.354-0.126,0.531
					c-0.14,0.367-0.28,0.733-0.42,1.1c-0.123,0.483-0.247,0.966-0.371,1.449c-0.114,1.14-0.228,2.28-0.341,3.42
					c-0.454,1.081-0.908,2.161-1.373,3.27c-0.623,0.053-1.351,0.115-1.592,0.136c0.702,1.198,1.397,2.384,2.093,3.569
					c-1.815,1.297-3.63,2.595-5.444,3.893c-0.143,0.269-0.286,0.537-0.428,0.806c-0.282,1.355-0.565,2.71-0.847,4.065
					c-1.288,1.319-1.462,2.598,0.137,3.814c0.075,0.348,0.15,0.696,0.226,1.044c-0.111,0.82-0.569,1.803-0.273,2.433
					c1.558,3.316,3.335,6.529,4.965,9.813c0.401,0.809,0.809,1.767,0.75,2.625c-0.538,7.892-1.269,15.771-1.737,23.666
					c-0.153,2.583,0.47,5.208,0.392,7.803c-0.031,1.035-0.999,2.042-1.541,3.062c-4.701,0.32-9.401,0.642-14.102,0.962
					c-0.362-0.124-0.724-0.249-1.086-0.373c-0.716-0.093-1.433-0.187-2.15-0.279c-0.1-0.129-0.223-0.23-0.37-0.302
					c-0.246-0.174-0.493-0.349-0.739-0.522c-0.235-0.165-0.47-0.33-0.705-0.494c-0.32-0.353-0.64-0.704-0.959-1.056
					c0.013-1.508,0.12-3.022,0.014-4.521C53.563,190.872,53.255,188.916,53.02,186.956z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFCFD" d="M132.972,237.137c-3.128-0.398-6.249-0.883-9.387-1.167
					c-2.113-0.19-2.301-1.504-2.384-3.164c-0.603-12.187-1.247-24.371-1.878-36.557c-0.134-2.702-0.268-5.404-0.402-8.106
					c4.828,0.634,9.663,1.224,14.482,1.917c3.823,0.55,7.627,1.227,11.44,1.847c0.195,8.911,0.489,17.821,0.546,26.733
					c0.031,4.857-0.388,9.716-0.5,14.576c-0.038,1.651-0.672,2.505-2.305,2.701C139.377,236.302,136.175,236.728,132.972,237.137z"
                />
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#353F48" d="M144.843,191.906c-3.812-0.62-7.617-1.297-11.44-1.847
					c-4.819-0.693-9.654-1.283-14.482-1.917c-3.389-0.536-6.779-1.057-10.164-1.613c-2.587-0.425-3.72-2.02-3.53-4.587
					c0.073-0.989,0.224-1.975,0.335-2.962c0.8-7.083,1.6-14.166,2.399-21.25c0.357-1.516,0.714-3.031,1.071-4.547
					c0.658-5.049,1.316-10.097,1.974-15.146c0.443,1.026,1.021,2.015,1.308,3.083c1.554,5.801,2.263,11.974,4.713,17.359
					c4.486,9.864,12.72,15.558,23.427,17.607c3.646,0.698,7.293,1.334,10.891,0.106c1.992-0.68,3.908-1.681,5.714-2.774
					c1.44-0.873,2.433-1.388,2.683,0.892c-0.926,4.544-1.82,9.092-2.787,13.625c-0.865,4.051-1.838,4.763-5.942,4.483
					C148.953,192.278,146.899,192.079,144.843,191.906z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M145.247,31.586c-0.81-1.351-1.863-0.884-2.97-0.062
					c-1.208,0.897-2.62,2.204-3.908,2.164c-2.804-0.086-5.762-0.476-8.347-1.513c-13.52-5.422-27.256-9.684-42.053-7.932
					c-4.955,0.587-9.799,2.112-14.693,3.209c-0.384,0.144-0.768,0.288-1.152,0.432c0,0,0.054,0.004,0.054,0.004
					c-0.554,0.195-1.107,0.391-1.66,0.586l0.02-0.018c-0.168,0.039-0.337,0.077-0.506,0.116c-0.371,0.142-0.742,0.284-1.113,0.427
					c-0.372,0.187-0.743,0.374-1.115,0.561l0.007-0.019c-9.188,3.587-15.517,9.948-18.504,19.403
					c-2.846,9.007-1.943,18.174-0.869,27.328c2.983-3.167,5.036-3.675,8.456-1.044c2.187,1.682,3.638,4.305,5.494,6.441
					c0.584,0.673,1.479,1.642,2.11,1.558c0.704-0.093,1.473-1.137,1.84-1.938c0.354-0.771,0.248-1.76,0.314-2.656
					c0.174-2.335,0.155-4.701,0.531-7.002c1.107-6.773,2.304-7.934,9.256-7.766c6.851,0.166,13.691,0.809,20.533,1.292
					c12.79,0.904,25.591,2.21,38.187-1.563c1.954-1.213,3.908-2.426,5.862-3.639c0.209-0.168,0.419-0.335,0.63-0.503
					c0.194-0.185,0.389-0.371,0.583-0.556l-0.039,0.041c0.195-0.194,0.391-0.388,0.587-0.582c0,0-0.044,0.044-0.044,0.044
					c0.185-0.185,0.37-0.37,0.555-0.556c-0.004,0.004-0.009,0.008-0.013,0.012l0.045-0.044c-0.011,0.011-0.021,0.021-0.032,0.032
					c0.206-0.19,0.412-0.379,0.619-0.569C150.506,50.951,148.583,37.148,145.247,31.586z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#3A7BB5" d="M98.772,271.109c0.333-0.192,0.665-0.385,0.997-0.577
					c2.233-0.192,4.465-0.384,6.698-0.575c0.274,0.349,0.548,0.696,0.822,1.045c-0.08,1.418-0.215,2.835-0.225,4.253
					c-0.014,2.052,0.895,3.188,3.118,2.918c0.704-0.086,1.421-0.058,2.132-0.081c6.654,0.35,13.306,0.757,19.964,0.989
					c1.086,0.039,2.199-0.697,3.3-1.075c-0.465-1.099-0.77-2.31-1.436-3.27c-0.864-1.245-2.016-2.292-3.044-3.424
					c8.195,0.423,16.379,0.98,24.24,3.581c1.077,0.355,1.928,1.4,2.883,2.126c-0.917,0.776-1.73,2.02-2.77,2.252
					c-5.352,1.199-10.723,2.667-16.159,3.062c-12.226,0.89-24.505,1.806-36.742,1.592c-14.389-0.252-28.872-0.388-43.042-3.628
					c-1.397-0.319-2.811-0.736-4.081-1.377c-0.789-0.398-1.322-1.305-1.97-1.983c0.664-0.545,1.251-1.403,2.002-1.585
					c4.718-1.143,9.448-2.273,14.224-3.122c2.733-0.486,5.563-0.431,8.349-0.618c-0.304,1.401-0.628,2.799-0.907,4.206
					c-0.509,2.568,0.094,3.345,2.638,3.399c0.719,0.016,1.44-0.05,2.161-0.077c5.286,0.025,10.572,0.016,15.857,0.093
					c2.393,0.035,3.04-1.159,2.491-3.245C99.843,274.344,99.278,272.734,98.772,271.109z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#A3A7AD" d="M158.504,127.704c-0.468,2.197-1.662,3.178-4.039,2.841
					c-8.106-1.147-16.226-2.197-24.344-3.256c-2.311-0.301-2.467-2.01-2.604-3.771c0.811-2.393,2.529-3.026,4.897-2.691
					c7.569,1.074,15.135,2.192,22.73,3.057C157.719,124.179,158.663,125.303,158.504,127.704z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#2C3A44" d="M80.322,239.564c0.557,9.066,1.049,18.138,1.728,27.195
					c0.124,1.644,1.013,3.23,1.549,4.844c-0.365,0.015-0.73,0.029-1.095,0.044c-1.379-0.184-2.759-0.366-4.138-0.55
					c-0.732-4.134-1.712-8.243-2.14-12.409c-0.654-6.36-0.926-12.761-1.36-19.145c1.453-0.104,2.905-0.206,4.357-0.31
					C79.591,239.345,79.957,239.454,80.322,239.564z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#183258" d="M131.099,271.312c1.028,1.132,2.18,2.179,3.044,3.424
					c0.666,0.96,0.971,2.171,1.436,3.27c-1.101,0.378-2.214,1.114-3.3,1.075c-6.658-0.232-13.31-0.64-19.964-0.989
					c-0.175-2.143-0.35-4.287-0.525-6.43c3.836-0.014,7.684,0.149,11.504-0.111c2.004-0.137,3.958-1.015,5.935-1.558
					C129.852,270.433,130.476,270.872,131.099,271.312z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBD9AB" d="M151.902,154.926c1.068-0.912,2.104-2.549,3.209-2.599
					c3.209-0.143,6.445,0.353,9.669,0.597c1.349,2.972,2.19,5.955,0.201,9.001c-1.406,0.283-2.82,0.535-4.221,0.854
					c-4.699,1.07-7.753-1.095-8.28-5.847C152.404,156.25,152.101,155.594,151.902,154.926z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#2A3D5B" d="M79.184,124.558c0.14-0.366,0.28-0.733,0.42-1.1
					c0.042-0.177,0.084-0.354,0.126-0.531c0.07-0.163,0.139-0.325,0.209-0.488c0.502-0.92,1.004-1.84,1.507-2.759
					c0,0-0.088-0.01-0.088-0.009c0.153-0.115,0.306-0.231,0.459-0.348c1.184-1.063,2.405-2.09,3.532-3.21
					c0.414-0.412,0.605-1.047,0.904-1.578c2.222,0.125,4.449,0.157,6.648,0.427c0.668,0.082,1.256,0.821,1.881,1.26
					c-1.92,0.267-3.839,0.533-5.759,0.798c-1.794,1.27-3.589,2.539-5.384,3.808c-3.015,4.08-3.088,8.73-2.611,13.487
					c-0.043,0.366-0.087,0.731-0.131,1.097c-0.712-0.026-1.423-0.053-2.135-0.081c-0.098-1.968-0.195-3.936-0.292-5.904
					c0.114-1.14,0.228-2.28,0.341-3.42C78.937,125.523,79.061,125.041,79.184,124.558z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M58.323,212.515c0.017-0.547,0.035-1.095,0.052-1.643
					c1.707,0.533,3.414,1.065,5.121,1.599c-0.938,0.382-1.875,0.763-3.117,1.268c-0.021,0.467-0.109,1.25-0.08,2.028
					c0.144,3.922,0.35,7.842,0.464,11.764c0.036,1.254-0.542,2.666-0.133,3.736c0.606,1.587,0.25,2.542-0.938,3.459
					c-0.395-1.451-0.789-2.902-1.182-4.353c-0.071-5.8-0.141-11.6-0.211-17.399C58.458,212.829,58.466,212.676,58.323,212.515z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F1C69D" d="M151.902,154.926c0.198,0.668,0.502,1.324,0.578,2.006
					c0.527,4.752,3.581,6.917,8.28,5.847c1.4-0.318,2.814-0.57,4.221-0.854c-1.04,1.199-2.079,2.399-3.116,3.598
					c-0.261,0.065-0.523,0.125-0.781,0.2c-2.989,0.882-6.169,1.796-8.525-0.976C150.046,161.794,150.255,158.328,151.902,154.926z"
                />
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M79.225,239.234c-1.453,0.104-2.905,0.206-4.357,0.31
					c-0.339-0.127-0.679-0.253-1.018-0.38c-0.916-0.043-1.832-0.086-2.747-0.128c-0.734-0.03-1.467-0.06-2.201-0.088
					c-0.342-0.023-0.685-0.047-1.027-0.07c-0.371-0.062-0.743-0.124-1.114-0.186c-1.808-0.25-3.616-0.5-5.423-0.749
					c-0.363-0.03-0.726-0.061-1.088-0.091c-0.185-0.682-0.37-1.364-0.554-2.046c4.753-0.054,9.545,0.244,14.246-0.281
					C77.254,235.156,78.053,237.18,79.225,239.234z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M63.496,212.471c-1.707-0.533-3.414-1.065-5.121-1.599
					c0.034-1.045,0.067-2.089,0.099-3.134c0,0,0.231-0.02,0.231-0.02c0.093,0.164,0.233,0.26,0.42,0.288
					c0.708,0.244,1.416,0.488,2.125,0.731c1.814,1.938,4.587,2.157,6.629,0.522c0.344-0.056,0.688-0.111,1.032-0.166
					c0.778-0.965,1.613-1.892,2.318-2.909c0.537-0.773,0.368-2.438,2.095-1.436c-0.228,5.768-0.594,6.199-6.571,7.73
					C65.667,212.478,64.582,212.475,63.496,212.471z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F1C69D" d="M61.25,208.738c-0.708-0.243-1.417-0.487-2.124-0.73
					c-0.094-0.164-0.234-0.262-0.42-0.289c0,0-0.232,0.02-0.231,0.02c-0.695-1.76-1.391-3.519-2.087-5.275
					c0,0.003,0.054,0.063,0.054,0.063c0.47,0.411,1.024,0.758,1.394,1.244c1.741,2.289,4.235,2.971,6.888,3.251
					c2.834,0.299,4.759-1.196,6.563-3.279c-0.792,1.783-1.583,3.567-2.375,5.352c-0.344,0.056-0.688,0.111-1.032,0.166
					C65.669,209.086,63.459,208.912,61.25,208.738z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#1B3358" d="M120.643,122.822c-0.823-0.207-1.646-0.414-2.469-0.621
					c-1.021-1.054-2.041-2.107-3.062-3.161c-0.579-0.277-1.157-0.555-1.736-0.832c-2.365-0.57-4.729-1.14-7.094-1.709
					c0.602-0.397,1.178-1.084,1.811-1.142c2.363-0.213,4.743-0.219,7.115-0.303c0.107,0.479,0.075,1.065,0.347,1.418
					C117.213,118.618,118.939,120.711,120.643,122.822z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#0F2345" d="M78.367,271.098c1.379,0.184,2.758,0.366,4.138,0.549
					c-0.193,2.497-0.386,4.995-0.579,7.493c-0.72,0.027-1.441,0.093-2.161,0.077c-2.544-0.055-3.146-0.831-2.638-3.399
					c0.279-1.407,0.603-2.805,0.907-4.206C78.146,271.439,78.256,271.27,78.367,271.098z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M57.44,151.446c-0.339,2.344-0.575,4.707-1.041,7.025
					c-0.782,3.897-1.71,7.766-2.578,11.646C55.028,163.895,56.234,157.671,57.44,151.446z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M53.02,186.956c0.236,1.96,0.544,3.916,0.684,5.883
					c0.106,1.499-0.001,3.014-0.014,4.521C53.466,193.892,53.243,190.424,53.02,186.956z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M59.695,235.807c0.185,0.682,0.37,1.364,0.554,2.046
					c-0.529-0.447-1.463-0.852-1.518-1.351c-0.221-2.027-0.172-4.084-0.223-6.13c0.394,1.451,0.788,2.902,1.183,4.354
					C59.692,235.086,59.693,235.446,59.695,235.807z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M53.732,171.771c0.576,2.227,1.438,4.475-0.492,6.513
					C53.404,176.113,53.568,173.942,53.732,171.771z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M53.206,179.373c0.912,1.843,1.573,3.678-0.181,5.431
					C53.085,182.993,53.146,181.184,53.206,179.373z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M67.873,130.052c-0.178,2.249-0.968,4.069-3.346,4.777
					C65.642,133.237,66.758,131.645,67.873,130.052z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M81.446,119.68c-0.502,0.919-1.005,1.839-1.507,2.759
					c-0.965-0.204-1.93-0.408-2.895-0.612C78.512,121.111,79.979,120.396,81.446,119.68z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M61.337,237.943c1.808,0.249,3.616,0.499,5.423,0.749
					C64.952,238.442,63.145,238.192,61.337,237.943z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M64.541,134.817c0.206,2.252-0.77,3.853-2.716,4.917
					C62.73,138.095,63.635,136.456,64.541,134.817z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M72.136,125.58c-1.083,1.098-2.167,2.195-3.25,3.293
					C69.969,127.775,71.053,126.678,72.136,125.58z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M61.306,140.829c-0.489,1.09-0.979,2.18-1.468,3.27
					C60.328,143.009,60.817,141.919,61.306,140.829z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M71.103,239.036c0.916,0.042,1.831,0.085,2.747,0.128
					C72.934,239.121,72.018,239.078,71.103,239.036z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M56.441,202.526c0,0-0.055-0.061-0.054-0.063
					c-0.099-1.013-0.197-2.021-0.295-3.03c0.147,0.071,0.271,0.173,0.371,0.302C56.455,200.665,56.448,201.596,56.441,202.526z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M58.566,147.782c-0.316,0.936-0.633,1.872-0.949,2.808
					C57.934,149.654,58.25,148.718,58.566,147.782z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M59.606,144.937c-0.309,0.805-0.619,1.61-0.928,2.416
					C58.988,146.546,59.297,145.741,59.606,144.937z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M73.276,27.452c-0.384,0.144-0.768,0.288-1.152,0.432
					C72.507,27.74,72.892,27.596,73.276,27.452z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M72.178,27.888c-0.554,0.195-1.107,0.391-1.66,0.586
					C71.071,28.278,71.624,28.083,72.178,27.888z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M68.918,28.999c-0.372,0.187-0.743,0.374-1.115,0.561
					C68.175,29.373,68.546,29.185,68.918,28.999z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M67.874,238.878c0.342,0.023,0.685,0.047,1.027,0.07
					C68.559,238.925,68.216,238.901,67.874,238.878z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M54.648,198.416c0.235,0.164,0.47,0.329,0.705,0.494
					C55.118,198.745,54.883,198.58,54.648,198.416z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M81.818,119.323c-0.153,0.116-0.307,0.233-0.459,0.348
					C81.511,119.554,81.665,119.438,81.818,119.323z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M77.055,121.822c-0.256,0.167-0.512,0.333-0.769,0.499
					C76.542,122.155,76.799,121.988,77.055,121.822z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M75.961,122.488c-0.184,0.143-0.367,0.286-0.551,0.428
					C75.594,122.774,75.778,122.631,75.961,122.488z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M75.428,122.904c-0.233,0.172-0.465,0.344-0.698,0.515
					C74.962,123.248,75.195,123.076,75.428,122.904z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M73.261,124.559c-0.19,0.174-0.38,0.348-0.57,0.522
					C72.881,124.907,73.071,124.733,73.261,124.559z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M72.706,125.068c-0.195,0.182-0.391,0.365-0.586,0.547
					C72.314,125.433,72.51,125.25,72.706,125.068z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M68.907,128.857c-0.172,0.195-0.343,0.389-0.515,0.583
					C68.563,129.246,68.735,129.052,68.907,128.857z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M68.383,129.451c-0.159,0.183-0.318,0.366-0.477,0.548
					C68.065,129.817,68.224,129.634,68.383,129.451z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M141.651,59.453c0.194-0.185,0.389-0.371,0.583-0.556
					C142.04,59.082,141.845,59.267,141.651,59.453z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M70.537,28.456c-0.168,0.039-0.337,0.077-0.506,0.116
					C70.185,28.467,70.354,28.429,70.537,28.456z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M142.195,58.938c0.195-0.194,0.391-0.388,0.587-0.582
					C142.587,58.55,142.391,58.744,142.195,58.938z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M142.738,58.4c0.196-0.196,0.391-0.392,0.586-0.588
					C143.129,58.008,142.934,58.204,142.738,58.4z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#594640" d="M143.28,57.856c0.21-0.194,0.421-0.387,0.632-0.581
					C143.701,57.469,143.491,57.663,143.28,57.856z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M58.323,212.515c0.144,0.161,0.135,0.314-0.025,0.459
					C58.212,212.816,58.221,212.663,58.323,212.515z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F4986D" d="M96.934,90.705c7.708-0.481,15.125-0.944,22.597-1.411
					c1.948,6.245-0.933,14.174-6.174,16.588c-4.75,2.187-9.923,0.726-12.842-3.651C98.208,98.771,97.128,94.931,96.934,90.705z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAC899" d="M75.429,96.088c0.048-4.55,2.816-7.392,7.159-7.348
					c4.302,0.043,7.03,3.001,6.958,7.546c-0.065,4.171-3.083,7.156-7.18,7.1C78.337,103.331,75.386,100.226,75.429,96.088z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAC899" d="M130.185,85.476c4.517-0.01,7.619,2.827,7.648,6.995
					c0.028,4.099-2.994,7.09-7.2,7.125c-4.375,0.037-7.462-2.807-7.434-6.847C123.23,88.403,126.033,85.485,130.185,85.476z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#A9D0E8" d="M106.283,116.499c2.365,0.57,4.729,1.14,7.094,1.709
					c-0.685,2.745-4.879,6.629-7.405,6.856c-0.639-1.482-1.277-2.964-1.916-4.447C104.799,119.245,105.541,117.872,106.283,116.499z
					"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#27406D" d="M104.057,120.618c0.638,1.482,1.277,2.965,1.916,4.447
					c-0.597,0.736-1.193,1.473-1.79,2.209c-1.824,0.004-3.648,0.009-5.472,0.013c-0.708-0.729-1.416-1.458-2.124-2.187
					c0.729-1.537,1.458-3.074,2.188-4.611C100.535,120.532,102.296,120.575,104.057,120.618z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#A9D0E8" d="M98.775,120.489c-0.729,1.537-1.458,3.074-2.188,4.611
					c-0.519,0.028-1.329,0.282-1.511,0.048c-2.073-2.667-4.05-5.407-6.052-8.128c1.919-0.266,3.839-0.532,5.759-0.798
					C96.114,117.644,97.444,119.066,98.775,120.489z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAC899" d="M55.09,80.955c1.095,0.793,2.503,1.375,3.213,2.427
					c1.224,1.813,2.201,3.858,2.887,5.936c0.249,0.754-0.377,2.305-1.067,2.718c-0.687,0.412-2.119,0.135-2.938-0.336
					c-2.59-1.493-2.813-2.816-1.009-5.13c1.889-2.421,0.2-3.681-1.705-4.925C54.677,81.415,54.884,81.185,55.09,80.955z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#675045" d="M128.904,78.532c0.015,2.285-1.394,4.123-3.093,4.041
					c-1.728-0.084-3.167-2.069-3.181-4.386s1.342-4.105,3.062-4.04C127.395,74.211,128.89,76.251,128.904,78.532z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#675045" d="M90.333,82.693c0.038,2.388-1.208,4.027-3.031,3.985
					c-1.798-0.041-3.174-1.875-3.2-4.269c-0.025-2.341,1.265-4.051,3.029-4.014C88.897,78.433,90.295,80.309,90.333,82.693z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFEFE" d="M59.695,235.807c-0.001-0.36-0.002-0.721-0.004-1.081
					c1.189-0.917,1.545-1.872,0.938-3.459c-0.409-1.07,0.169-2.482,0.133-3.736c-0.114-3.922-0.32-7.842-0.464-11.764
					c-0.029-0.778,0.06-1.562,0.08-2.028c1.242-0.505,2.179-0.886,3.117-1.268c1.086,0.004,2.171,0.007,3.257,0.01
					c0.36,0.46,0.838,1.368,1.061,1.309c1.603-0.424,3.86-0.582,4.588-1.691c2.015-3.071,5.188-5.534,5.596-9.584
					c0.074-0.738,0.707-1.425,1.098-2.126c1.41-2.524,2.827-5.045,4.622-8.245c-2.631-0.116-4.636-0.206-6.642-0.295
					c-0.174-2.351-0.348-4.702-0.521-7.054c0.811-0.162,1.621-0.324,1.838-0.367c0.22-2.39,0.393-4.265,0.565-6.139
					c0.207-0.021,0.413-0.041,0.619-0.062c-0.657-0.705-1.314-1.411-1.971-2.117c0.008-3.255,0.017-6.511,0.025-9.766
					c1.066,0.604,2.133,1.21,3.303,1.874c3.632-1.465,7.526-1.885,11.46-0.807c0.889,0.243,2.146,1.143,2.26,1.889
					c0.675,4.445,1.816,8.964-0.346,13.15c0.591,0.457,1.609,0.871,1.629,1.329c0.083,1.839-0.013,3.712-0.29,5.534
					c-0.334,2.196-1.092,4.334-1.348,6.533c-0.291,2.497,1.996,4.735,0.95,7.405c-0.088,0.226,0.23,0.653,0.428,0.94
					c2.468,3.599,0.848,7.532,0.399,11.127c-0.41,3.278-0.99,3.504,2.321,4.285c0.289,1.964,0.577,3.928,0.866,5.892
					c-1.269,0.524-1.302,1.067-0.023,1.629c-0.118,2.708-0.235,5.417-0.353,8.126c-2.028,0.907-4.056,1.813-6.084,2.721
					c-4.16,0.531-8.32,1.062-12.479,1.594c-0.366-0.11-0.731-0.22-1.098-0.33c-1.172-2.055-1.971-4.078-5.284-3.709
					C69.24,236.051,64.448,235.753,59.695,235.807z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#8EB0C8" d="M89.024,117.02c2.002,2.721,3.979,5.461,6.052,8.128
					c0.182,0.234,0.992-0.02,1.511-0.048c0.708,0.729,1.416,1.458,2.124,2.187c-0.274,8.208-0.629,16.415-0.791,24.625
					c-0.1,5.062,3.6,8.026,6.546,11.856c1.37-2.366,2.432-4.202,3.495-6.038c-0.799,7.084-1.599,14.167-2.399,21.25
					c-0.111,0.987-0.262,1.973-0.335,2.962c-0.19,2.567,0.943,4.162,3.53,4.587c3.385,0.557,6.775,1.077,10.164,1.613
					c0.134,2.702,0.268,5.404,0.402,8.106c-5.71,0.474-11.42,0.959-17.132,1.41c-0.979,0.077-1.969,0.008-2.954,0.006
					c-0.187-2.308-0.373-4.616-0.559-6.925c-0.018-0.521-0.036-1.041-0.054-1.562c-0.333-3.638-0.665-7.275-0.998-10.914
					c-0.126-0.623-0.253-1.246-0.379-1.87c-0.252-2.636-0.504-5.272-0.757-7.909c-0.113-0.423-0.227-0.846-0.34-1.269
					c-0.26-2.108-0.521-4.215-0.781-6.323c-0.289-0.874-0.579-1.748-0.868-2.622c1.121-6.518-0.305-12.485-3.885-17.987
					c-1.966-6.111-3.918-12.226-5.925-18.324c-0.146-0.444-0.69-0.758-1.05-1.133C85.435,119.559,87.229,118.29,89.024,117.02z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M95.368,160.894c0.261,2.108,0.521,4.215,0.781,6.324
					c0.113,0.423,0.227,0.845,0.34,1.268c0.252,2.637,0.505,5.273,0.757,7.911c0.127,0.623,0.253,1.246,0.379,1.868
					c0.333,3.639,0.666,7.276,0.999,10.914c0.018,0.521,0.036,1.041,0.054,1.562c0.187,2.309,0.373,4.617,0.559,6.925
					c0.063,3.782,0.14,7.564,0.186,11.347c0.035,2.886,0.096,5.775-0.005,8.658c-0.023,0.655-0.664,1.29-1.021,1.934
					c-3.311-0.781-2.73-1.007-2.321-4.285c0.449-3.595,2.068-7.528-0.399-11.127c-0.197-0.287-0.516-0.715-0.428-0.94
					c1.046-2.67-1.24-4.908-0.95-7.405c0.256-2.199,1.014-4.337,1.348-6.533c0.277-1.822,0.373-3.695,0.29-5.534
					c-0.021-0.458-1.039-0.872-1.629-1.329c2.163-4.187,1.021-8.705,0.346-13.15c-0.114-0.746-1.371-1.646-2.26-1.889
					c-3.935-1.078-7.829-0.658-11.46,0.807c-1.17-0.664-2.237-1.27-3.304-1.874c0.508-0.729,0.933-1.539,1.546-2.165
					c0.642-0.653,1.465-1.13,2.209-1.684c-0.354-0.719-0.709-1.437-1.063-2.154c-0.58-0.335-1.16-0.671-1.739-1.006
					c-1.25-2.138-2.499-4.274-3.748-6.411c-0.114-0.228-0.228-0.455-0.341-0.683c-0.276-1.14-0.551-2.279-0.827-3.418
					c-0.101-0.49-0.201-0.98-0.302-1.47c-0.324-3.135-0.134-6.068,3.071-7.815c0.571,0.256,1.143,0.513,1.713,0.769
					c-0.26,1.951-0.425,3.92-0.804,5.849c-0.465,2.372-0.81,4.633,1.66,6.039c-1.213,3.664-0.617,4.938,2.089,4.228
					c2.678-0.703,3.62,0.508,4.314,2.633c0.17,0.521,0.526,0.982,0.796,1.471c0.583-2.8,0.573-5.328-1.5-7.503
					c-0.935-0.98-1.488-2.325-2.214-3.504c2.631,2.166,5.335,4.254,7.85,6.548c0.756,0.69,0.986,1.958,1.457,2.961
					c-0.37,0.804-0.739,1.606-1.109,2.41c0.039,0.505,0.077,1.009,0.116,1.513c0.637-0.395,1.274-0.789,1.912-1.184
					c0.414-0.463,0.828-0.926,1.242-1.388C94.428,160.55,94.898,160.722,95.368,160.894z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#183258" d="M81.926,279.14c0.193-2.498,0.386-4.996,0.579-7.493
					c0.365-0.014,0.729-0.028,1.095-0.043c5.058-0.165,10.115-0.329,15.172-0.494c0.506,1.625,1.071,3.234,1.503,4.878
					c0.548,2.086-0.099,3.28-2.491,3.245C92.499,279.155,87.212,279.165,81.926,279.14z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#2B3C48" d="M107.289,271.002c-0.274-0.349-0.548-0.696-0.822-1.046
					c-0.219-0.713-0.438-1.426-0.656-2.139c-0.034-5.417-0.069-10.832-0.104-16.249c-0.078-3.438-0.156-6.874-0.234-10.311
					c-0.077-3.262-0.153-6.522-0.229-9.784c-0.006-0.36-0.012-0.722-0.019-1.083c0.025-0.64,0.05-1.279,0.075-1.918
					c0.024-0.176,0.024-0.351,0.001-0.527c-0.062-3.8-0.125-7.599-0.187-11.398c0.442,0.217,1.229,0.379,1.273,0.658
					c0.418,2.651,0.83,5.315,1.011,7.992c0.292,4.299,0.483,8.607,0.585,12.915c0.229,9.709,0.34,19.422,0.604,29.13
					c0.035,1.283,0.682,2.551,1.046,3.825C108.852,271.046,108.07,271.023,107.289,271.002z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#0F2345" d="M107.289,271.002c0.781,0.021,1.563,0.044,2.345,0.065
					c0.719,0.198,1.438,0.396,2.156,0.594c0.175,2.144,0.35,4.288,0.525,6.431c-0.711,0.023-1.429-0.005-2.132,0.081
					c-2.223,0.271-3.132-0.866-3.118-2.918C107.073,273.837,107.209,272.42,107.289,271.002z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFCFD" d="M92.802,237.971c2.028-0.907,4.056-1.813,6.084-2.721
					c-0.402,0.605-0.688,1.574-1.228,1.745C96.093,237.492,94.428,237.669,92.802,237.971z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M102.653,241.791c-0.248,3.617-0.496,7.234-0.743,10.852
					C102.159,249.025,102.406,245.408,102.653,241.791z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M101.586,256.448c-0.118,1.813-0.236,3.628-0.354,5.441
					C101.352,260.076,101.469,258.262,101.586,256.448z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M103.238,233.114c-0.064,1.445-0.128,2.89-0.193,4.334
					C103.109,236.004,103.174,234.56,103.238,233.114z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M101.067,263.504c-0.053,1.261-0.106,2.521-0.16,3.782
					C100.96,266.025,101.014,264.765,101.067,263.504z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFCFD" d="M99.239,227.124c-1.278-0.562-1.245-1.104,0.023-1.629
					C99.254,226.038,99.247,226.581,99.239,227.124z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M102.732,240.161c0.029,0.122,0.073,0.243,0.08,0.366
					c0.002,0.05-0.075,0.104-0.116,0.156C102.636,240.505,102.648,240.331,102.732,240.161z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#8CAEC6" d="M104.183,127.274c0.597-0.736,1.193-1.473,1.79-2.209
					c2.526-0.228,6.72-4.111,7.405-6.856c0.579,0.277,1.157,0.555,1.736,0.832c-0.191,1.212-0.383,2.424-0.575,3.637
					c-0.715,1.487-1.779,2.908-2.078,4.474c-0.683,3.592-0.993,7.254-1.454,10.887c-0.658,5.049-1.316,10.097-1.974,15.146
					c-0.15-0.404-0.366-0.797-0.441-1.214C107.112,143.739,105.649,135.507,104.183,127.274z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#A3A7AD" d="M129.131,134.686c-0.658-1.045-1.411-1.716-1.324-2.25
					c0.088-0.54,1.013-1.306,1.562-1.298c0.474,0.006,1.287,0.953,1.3,1.5C130.682,133.181,129.884,133.743,129.131,134.686z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#A3A7AD" d="M152.661,133.524c0.638,1.042,1.385,1.725,1.286,2.247
					c-0.106,0.555-1.039,1.348-1.564,1.314c-0.511-0.033-1.326-0.974-1.338-1.53C151.034,135.014,151.873,134.456,152.661,133.524z"
                />
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M114.538,122.677c0.192-1.212,0.384-2.424,0.575-3.637
					c1.021,1.054,2.041,2.107,3.062,3.161C116.962,122.36,115.75,122.518,114.538,122.677z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAD9AF" d="M56.441,202.526c0.007-0.931,0.014-1.861,0.021-2.792
					c0.716,0.093,1.433,0.187,2.149,0.279c0.362,0.124,0.724,0.249,1.086,0.373c4.701-0.32,9.401-0.642,14.102-0.962
					c0.163,1.637,0.326,3.273,0.489,4.91c-0.321,0.139-0.643,0.276-0.964,0.414c-1.728-1.001-1.559,0.663-2.096,1.437
					c-0.705,1.018-1.54,1.944-2.318,2.909c0.792-1.785,1.583-3.569,2.375-5.353c-1.804,2.083-3.729,3.578-6.563,3.279
					c-2.653-0.28-5.147-0.962-6.888-3.251C57.465,203.284,56.911,202.938,56.441,202.526z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M74.289,204.335c-0.163-1.637-0.326-3.273-0.489-4.91
					c0.542-1.02,1.509-2.026,1.541-3.062c0.078-2.595-0.544-5.22-0.392-7.803c0.468-7.896,1.199-15.774,1.737-23.666
					c0.058-0.858-0.35-1.816-0.75-2.625c-1.63-3.284-3.408-6.497-4.965-9.813c-0.295-0.63,0.163-1.613,0.273-2.433
					c1.614,3.389,3.053,6.875,4.909,10.125c1.03,1.803,2.775,3.163,5.233,2.346c-0.744,0.554-1.567,1.03-2.209,1.684
					c-0.614,0.626-1.039,1.436-1.546,2.165c-0.008,3.255-0.017,6.511-0.025,9.766c-0.351,2.896-0.701,5.79-1.051,8.686
					c0.174,2.352,0.348,4.703,0.521,7.054c0.187,1.765,0.274,3.547,0.582,5.29c0.493,2.79-2.565,4.334-2.371,7.002
					C75.289,204.181,74.636,204.269,74.289,204.335z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#2A3D5B" d="M81.385,162.494c-2.458,0.817-4.203-0.543-5.233-2.346
					c-1.856-3.25-3.295-6.736-4.909-10.125c-0.075-0.348-0.15-0.696-0.226-1.044c-0.046-1.271-0.091-2.543-0.137-3.814
					c0.282-1.355,0.565-2.71,0.847-4.065c0.143-0.269,0.286-0.538,0.428-0.806c1.814-1.298,3.629-2.595,5.444-3.893
					c0.355,0.031,0.71,0.062,1.066,0.092c-0.024,0.683-0.048,1.366-0.073,2.049c-0.719,0.331-1.438,0.662-2.157,0.994
					c-3.205,1.747-3.395,4.68-3.071,7.815c0.101,0.49,0.201,0.98,0.302,1.47c0.276,1.139,0.551,2.279,0.827,3.418
					c0.114,0.228,0.228,0.455,0.341,0.683c1.25,2.137,2.499,4.273,3.748,6.411c0.579,0.335,1.159,0.671,1.739,1.006
					C80.676,161.058,81.031,161.775,81.385,162.494z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M78.666,136.494c-0.355-0.031-0.71-0.062-1.066-0.092
					c-0.695-1.186-1.391-2.372-2.093-3.569c0.241-0.021,0.969-0.083,1.592-0.136c0.465-1.108,0.919-2.189,1.373-3.27
					c0.097,1.968,0.194,3.937,0.292,5.904C78.731,135.719,78.699,136.106,78.666,136.494z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M70.88,145.166c0.046,1.271,0.091,2.542,0.137,3.814
					C69.418,147.764,69.592,146.485,70.88,145.166z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M59.698,200.387c-0.362-0.124-0.724-0.249-1.086-0.373
					C58.974,200.138,59.336,200.263,59.698,200.387z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M79.184,124.558c-0.124,0.483-0.247,0.965-0.371,1.448
					C78.937,125.524,79.061,125.041,79.184,124.558z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M79.73,122.927c-0.042,0.177-0.084,0.354-0.126,0.531
					C79.646,123.281,79.688,123.104,79.73,122.927z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M72.156,140.294c-0.143,0.269-0.286,0.537-0.428,0.806
					C71.87,140.831,72.013,140.562,72.156,140.294z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#1B3358" d="M104.183,127.274c1.466,8.233,2.929,16.465,4.408,24.696
					c0.075,0.417,0.291,0.81,0.441,1.214c-0.357,1.516-0.714,3.031-1.071,4.547c-1.063,1.836-2.125,3.672-3.495,6.038
					c-2.946-3.83-6.646-6.794-6.546-11.856c0.162-8.21,0.517-16.417,0.791-24.625C100.535,127.283,102.358,127.278,104.183,127.274z
					"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FBFCFD" d="M83.64,120.828c0.359,0.375,0.904,0.688,1.05,1.133
					c2.007,6.098,3.959,12.213,5.925,18.324c-1.084-0.891-2.168-1.782-3.252-2.672c0.142-0.764,0.283-1.527,0.497-2.68
					c-2.44-0.22-4.635-0.419-6.83-0.617C80.552,129.558,80.625,124.908,83.64,120.828z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M81.029,134.315c2.195,0.198,4.39,0.397,6.83,0.617
					c-0.213,1.153-0.355,1.917-0.497,2.68c-1.972-0.485-3.943-0.97-5.914-1.455c-0.184-0.249-0.367-0.497-0.55-0.746
					C80.942,135.046,80.986,134.681,81.029,134.315z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#8CAEC6" d="M80.898,135.412c0.184,0.249,0.367,0.497,0.55,0.746
					c0.034,0.73,0.068,1.461,0.102,2.191c-0.986,0.065-1.972,0.129-2.958,0.194c0.025-0.683,0.049-1.366,0.073-2.049
					c0.033-0.388,0.065-0.775,0.098-1.163C79.475,135.358,80.187,135.385,80.898,135.412z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M74.289,204.335c0.347-0.066,1-0.154,0.997-0.195
					c-0.194-2.668,2.864-4.212,2.371-7.002c-0.308-1.743-0.395-3.525-0.582-5.29c2.005,0.089,4.011,0.179,6.642,0.295
					c-1.795,3.2-3.212,5.721-4.622,8.245c-0.391,0.701-1.023,1.388-1.098,2.126c-0.408,4.05-3.581,6.513-5.596,9.584
					c-0.728,1.109-2.985,1.268-4.588,1.691c-0.223,0.06-0.701-0.849-1.061-1.309c5.978-1.531,6.344-1.963,6.571-7.73
					C73.646,204.611,73.968,204.474,74.289,204.335z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAD9AF" d="M61.25,208.738c2.209,0.174,4.419,0.348,6.629,0.521
					C65.837,210.896,63.063,210.677,61.25,208.738z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FAD9AF" d="M58.705,207.719c0.186,0.027,0.327,0.125,0.42,0.289
					C58.938,207.979,58.798,207.883,58.705,207.719z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M76.554,184.794c0.351-2.896,0.701-5.79,1.051-8.686
					c0.657,0.706,1.314,1.412,1.971,2.117c-0.207,0.021-0.413,0.042-0.619,0.062c-0.172,1.874-0.345,3.749-0.565,6.139
					C78.175,184.47,77.364,184.632,76.554,184.794z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#2A3D5B" d="M81.551,138.349c-0.034-0.73-0.068-1.461-0.102-2.191
					c1.971,0.485,3.942,0.97,5.914,1.455c1.084,0.891,2.168,1.782,3.252,2.672c3.58,5.502,5.006,11.469,3.885,17.987
					c-0.181,0.702-0.362,1.404-0.543,2.106c-0.414,0.462-0.828,0.925-1.242,1.388c-0.676-0.109-1.352-0.22-2.027-0.329
					c0.37-0.804,0.74-1.606,1.11-2.41c1.543-4.174,0.811-8.276-0.495-12.319C89.771,141.961,86.707,138.912,81.551,138.349z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M93.958,160.378c0.181-0.702,0.362-1.404,0.543-2.106
					c0.29,0.874,0.579,1.748,0.868,2.622C94.898,160.722,94.428,160.55,93.958,160.378z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M97.625,178.265c-0.126-0.622-0.252-1.245-0.379-1.868
					C97.373,177.019,97.5,177.642,97.625,178.265z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M98.678,190.74c-0.018-0.521-0.036-1.041-0.054-1.562
					C98.642,189.699,98.66,190.22,98.678,190.74z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M96.489,168.485c-0.113-0.423-0.227-0.845-0.34-1.268
					C96.263,167.64,96.376,168.062,96.489,168.485z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M81.551,138.349c5.156,0.563,8.22,3.612,9.752,8.359
					c1.306,4.043,2.038,8.145,0.495,12.319c-0.471-1.003-0.701-2.271-1.458-2.961c-2.515-2.294-5.218-4.382-7.85-6.548
					c-0.181-0.181-0.362-0.361-0.543-0.542c-0.08-1.229-0.361-2.489-0.179-3.678c0.156-1.017,0.907-1.929,1.284-2.929
					c0.752-1.996,0.189-2.511-2.192-2.081c-0.904,0.005-1.808,0.011-2.711,0.017c-0.571-0.257-1.142-0.513-1.713-0.77
					c0.719-0.332,1.438-0.663,2.157-0.994C79.579,138.478,80.564,138.414,81.551,138.349z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FEFEFE" d="M81.947,148.976c0.181,0.181,0.362,0.361,0.543,0.542
					c0.726,1.179,1.279,2.523,2.214,3.504c2.073,2.175,2.083,4.703,1.5,7.503c-0.271-0.488-0.626-0.949-0.796-1.471
					c-0.694-2.125-1.636-3.336-4.314-2.633c-2.706,0.71-3.302-0.563-2.089-4.228c-2.47-1.406-2.125-3.667-1.66-6.039
					c0.378-1.928,0.544-3.897,0.804-5.849c0.904-0.005,1.808-0.011,2.711-0.017c-0.173,1.689,0.034,3.542-0.604,5.033
					C79.139,147.937,79.125,148.3,81.947,148.976z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M90.688,161.437c0.676,0.109,1.352,0.22,2.027,0.329
					c-0.637,0.395-1.274,0.789-1.912,1.184C90.765,162.445,90.727,161.941,90.688,161.437z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M80.322,160.34c-0.58-0.335-1.16-0.671-1.739-1.006
					C79.162,159.669,79.742,160.005,80.322,160.34z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M73.667,148.822c-0.101-0.49-0.201-0.98-0.302-1.47
					C73.465,147.841,73.566,148.332,73.667,148.822z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#F3F5F7" d="M74.835,152.923c-0.114-0.228-0.228-0.455-0.341-0.683
					C74.607,152.468,74.721,152.695,74.835,152.923z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M105.811,267.817c-0.172-2.119-0.488-4.237-0.481-6.354
					c0.011-3.299,0.241-6.597,0.377-9.895C105.742,256.985,105.777,262.4,105.811,267.817z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#5A8CB0" d="M105.474,241.258c-0.077-3.262-0.153-6.522-0.229-9.784
					C105.32,234.735,105.396,237.996,105.474,241.258z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FDFDFD" d="M81.947,148.976c-2.823-0.676-2.809-1.04-1.691-3.654
					c0.638-1.491,0.431-3.343,0.604-5.033c2.381-0.43,2.944,0.084,2.192,2.081c-0.377,1-1.127,1.912-1.284,2.929
					C81.586,146.487,81.867,147.747,81.947,148.976z"/>
            </g>
        </g>
    </g>
</g>
                        <g id="doc-calque-3" display="none">
                            <path display="inline" fill-rule="evenodd" clip-rule="evenodd" fill="#FDFEFE" d="M148.809,93.25
		c1.863-0.088,3.462-0.075,5.039-0.255c4.172-0.477,5.759-2.148,5.869-6.311c0.211-7.953,0.125-15.92,0.584-23.857
		c0.254-4.382,1.217-8.747,2.134-13.061c0.895-4.213,3.562-7.206,7.726-8.312c6.702-1.78,13.423-3.737,20.266-4.697
		c15.906-2.23,31.901-2.416,47.842-0.126c4.368,0.627,8.691,1.662,12.976,2.748c12.174,3.085,18.495,11.4,20.159,23.456
		c2.017,14.612-0.458,28.678-6.376,42.065c-1.483,3.356-4.228,6.237-6.724,9.04c-2.317,2.601-5.662,2.954-9.002,2.963
		c-15.734,0.041-31.469,0.118-47.203,0.15c-7.412,0.015-14.825-0.01-22.237-0.095c-1.796-0.021-3.602-0.268-5.381-0.554
		c-7.024-1.126-11.272-5.304-13.047-12.1c-0.365-1.396-0.546-2.839-0.9-4.239c-0.866-3.425-1.875-4.179-5.402-3.646
		C152.334,96.842,150.236,96.202,148.809,93.25z"/>
                            <g display="inline">
                                <path fill="#1B3358" d="M201.674,86.745h-5.101l-1.126-13.115l-0.1-2.782h-0.065c-0.178,0.883-0.409,1.811-0.696,2.782
			c-2.296,7.971-3.576,12.342-3.841,13.115h-2.683l-3.842-13.115l-0.695-2.782h-0.066c0.044,0.883,0.021,1.811-0.066,2.782
			c-0.729,8.081-1.115,12.452-1.159,13.115h-4.438l2.417-22.785h5.232l3.544,12.75l0.597,2.55h0.065
			c0.154-0.772,0.364-1.623,0.63-2.55l3.742-12.75h5.199L201.674,86.745z"/>
                                <path fill="#1B3358" d="M219.888,78.101l-10.696,1.523c0.353,2.605,1.788,3.908,4.305,3.908c1.854,0,3.4-0.32,4.637-0.96
			l1.159,3.212c-1.722,0.861-3.853,1.292-6.392,1.292c-2.716,0-4.83-0.833-6.342-2.5c-1.513-1.667-2.269-3.935-2.269-6.806
			c0-2.826,0.706-5.067,2.119-6.723c1.413-1.656,3.389-2.484,5.928-2.484c2.562,0,4.488,0.828,5.779,2.484
			C219.408,72.703,219.998,75.054,219.888,78.101z M215.086,76.18c0-3.047-0.982-4.57-2.947-4.57c-1.082,0-1.921,0.469-2.518,1.407
			c-0.596,0.939-0.85,2.302-0.762,4.09L215.086,76.18z"/>
                                <path fill="#1B3358" d="M232.738,68.629l-0.961,3.643c-1.28-0.53-2.429-0.563-3.444-0.099v14.572h-5.166V69.888
			C225.33,68.85,228.521,68.43,232.738,68.629z"/>
                                <path fill="#1B3358" d="M246.151,85.784c-0.906,0.861-2.363,1.292-4.372,1.292c-2.186,0-3.957-0.822-5.315-2.467
			c-1.357-1.645-2.036-3.924-2.036-6.839c0-2.892,0.695-5.15,2.086-6.772c1.391-1.623,3.135-2.434,5.232-2.434
			c1.877,0,3.334,0.43,4.372,1.292l-1.06,2.848c-0.597-0.464-1.304-0.695-2.12-0.695c-2.208,0-3.312,1.899-3.312,5.696
			c0,1.811,0.286,3.212,0.861,4.206c0.573,0.994,1.379,1.491,2.417,1.491c0.883,0,1.601-0.243,2.153-0.729L246.151,85.784z"/>
                                <path fill="#1B3358" d="M254.397,63.761c0,0.685-0.266,1.258-0.795,1.722c-0.53,0.463-1.182,0.695-1.954,0.695
			c-0.773,0-1.424-0.232-1.954-0.695c-0.53-0.464-0.795-1.038-0.795-1.722c0-0.663,0.271-1.23,0.812-1.706
			c0.541-0.475,1.187-0.712,1.938-0.712c0.75,0,1.396,0.237,1.938,0.712C254.126,62.53,254.397,63.098,254.397,63.761z
			 M254.231,86.745h-5.166V68.894h5.166V86.745z"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="semi" id="send-button">
                    <svg id="send-button-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="auto"
                         height="80%" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <g id="button-calque-1">
    <path fill="#2E58A6" d="M227.995,81.262c-19.044-16.565-43.902-26.618-71.124-26.618C96.976,54.645,48.42,103.2,48.42,163.096
		c0,27.22,10.051,52.077,26.613,71.119c19.883,22.859,49.162,37.332,81.838,37.332c59.896,0,108.451-48.555,108.451-108.451
		C265.322,130.421,250.853,101.146,227.995,81.262z"/>
    <path fill="#A30D0D" d="M221.632,67.954c16.562,19.042,26.613,43.899,26.613,71.119c0,59.896-48.556,108.452-108.451,108.452
		c-27.222,0-52.081-10.054-71.124-26.618c19.883,22.859,49.162,37.332,81.838,37.332c59.896,0,108.451-48.555,108.451-108.451
		C258.959,117.113,244.489,87.837,221.632,67.954z"/>
    <path fill="#FF0000" d="M248.245,139.073c0-27.22-10.051-52.077-26.613-71.119c-19.044-16.565-43.902-26.618-71.124-26.618
		c-59.896,0-108.451,48.555-108.451,108.451c0,27.22,10.051,52.077,26.613,71.119c19.043,16.564,43.902,26.618,71.124,26.618
		C199.689,247.524,248.245,198.969,248.245,139.073z"/>

    <polygon fill="#FFFFFF" stroke="#FFFFFF" stroke-width="5.0875" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		154.429,114.012 154.429,127.152 110.265,127.152 110.265,161.56 154.429,161.56 154.429,174.847 198.023,144.602 	"/>
</g>
                        <g id="button-calque-2" display="none">
                            <path display="inline" fill="#A30D0D" d="M227.995,81.262c16.562,19.042,26.613,43.899,26.613,71.119
		c0,59.896-48.556,108.452-108.451,108.452c-27.222,0-52.081-10.054-71.124-26.618c19.883,22.859,49.162,37.332,81.838,37.332
		c59.896,0,108.451-48.555,108.451-108.451C265.322,130.421,250.853,101.146,227.995,81.262z"/>
                            <path display="inline" fill="#FF0000" d="M254.608,152.381c0-27.219-10.051-52.076-26.613-71.119
		c-19.044-16.565-43.902-26.618-71.124-26.618C96.976,54.645,48.42,103.2,48.42,163.096c0,27.22,10.051,52.077,26.613,71.119
		c19.043,16.564,43.902,26.618,71.124,26.618C206.053,260.833,254.608,212.277,254.608,152.381z"/>

                            <polygon display="inline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="5.0875" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		160.792,127.321 160.792,140.46 116.628,140.46 116.628,174.868 160.792,174.868 160.792,188.155 204.387,157.91 	"/>
                        </g>
</svg>
                </div>
            </div>
            <div class="carousel-item loopyblue" data-interval="">
                coucou
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
