<div class="w-100 position-fixed bg-dark-grey pl-3 en-tete">
    <div class="d-flex align-items-center mt-3">
        <a class="navbar-brand text-white" href="{{ path('doctor') }}"><i class="fas fa-user-plus"></i></a>
        <h5 class="ml-4 text-white">Prénom  Nom</h5>
    </div>

</div>
<table class="table table-hover margin-table">
    <tbody>
    {% for patient in patients %}
            <tr id="{{ patient.id }}" class="list-patient">
                <th scope="row" class="p-1"><div id="label-{{ patient.id }}" class="chevron ml-1 mt-2 d-flex align-items-center justify-content-center"><i class="fas fa-angle-right"></i></div></th>
                <td class="p-0 pt-2 pl-2">{{patient.firstName ~ ' ' ~ patient.surname |upper}}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>
