.bck-red {
  background-color: #ff5959;
  box-shadow: 0 1px 1px grey;
}

.bck-grey {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 3px grey;
}

.loopy-color-darken {
  color: $loopy-blue;
}

.width {
  width: 145px;
}

.chevron {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.show-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  border-radius: 50%;

}
.list-patient {
  cursor: pointer;
}

.envoyer {
  border-radius: 10px;
}

.searchfield{
  background-color: $loopy-blue;
  width: 100%;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}
.searchicon{
  margin-left: 220px;
  margin-top: 2px;
}
.searchdiv{
  width: 360px;
  position: fixed;
  top: 6px;
  margin-left:-10px;
}
