.bck-red {
  background-color: #ff5959;
  box-shadow: 0 1px 1px grey;
}

.bck-grey {
  background: linear-gradient(to bottom right, #b0bbc9, #dcdcdc, #b0bbc9, #dcdcdc);
  box-shadow: 0 3px 3px grey;
}

.width {
  width: 145px;
}

.chevron {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.show-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  border-radius: 50%;

}
