.font {
    &-neucha {
        font-family: $neucha;
    }

    &-oswald {
        font-family: $oswald;
    }
}

.bg {
    &-wcs {
        background-color: $wcs;
    }

    &-light-grey {
        background-color: $lightGrey;
    }

    &-dark-grey {
        background-color: $darkGrey;
    }
}

.text {
    &-blue {
        color: $loopy-blue;
    }
}

canvas {
    max-height: 800px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.en-tete {
    height: 80px;
}

.margin-table {
    margin-top: 80px;
    margin-left: 10px;
}

h5 {
    margin-bottom: unset;
}

.overflow {
    padding-left: unset;
    max-height: 100vh;
    overflow-y: scroll;
}

.shadow-list {
    box-shadow: 0px 0px 5px 7px rgba(171,171,171,1);
}

.parent-card {
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
