@keyframes rotatehand {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes oscillate-light {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes chapo-right {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes anim-bras {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.anim-bras {
  transform-origin: 123px  121px;
  animation: anim-bras 2s infinite;
}

.chapo-right {
  transform-origin: center left;
  transform: rotate(30deg);
  animation: chapo-right 2s ease-in-out;
}

@keyframes translateleft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

@keyframes translateright {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500px);
  }
}

.translateleft {
  animation:translateleft 30s ease-in-out;
}
.translateright {
  animation:translateright 40s ease-in-out;
}


@keyframes chapo-left {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.chapo-left {
  transform-origin: center center;
  transform: rotate(-30deg);
  animation: chapo-left 2s ease-in-out;
}


@keyframes bascule-left {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}


.btn-for-parents {
  margin-top:60px;
  border-radius:200px;
  border:6px solid #000;
}

.bascule-left {
  transform-origin:center 60%;
  animation:bascule-left 2s ease-in-out;
  transform: rotate(-45deg);
}



@keyframes bascule-right {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.bascule-right {
  transform-origin:center center;
  animation:bascule-right 2s ease-in-out;
  transform: rotate(45deg);
}

.oscillate-light {
  transform-origin:bottom center;
  animation:oscillate-light 3s infinite;
}

@keyframes oscillate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.oscillate {
  transform-origin:center center;
  animation:oscillate 3s infinite;
}
.rotate {
  transform-origin:center center;
  animation:rotate 1s infinite;
}

.patient-name {
  width:60vw;
  text-align:center;
  margin-left:20vw;
  display:block;
  background:#fff;
  color:#414141;
  font-family: $neucha;
  font-size: 1.5rem;
  border-radius:200px;
  border:7px solid #000;
  padding-top:7px;
  position:relative;
  &::before {
    dipslay:block;
    position:absolute;
    content:' ';
    left:0;
    width:20px;
    height:30px;
    border-radius:50% 0 0 50%;
    background:#000;
    top:50%;
    margin-top:-15px;
    margin-left:-20px;
  }
  &::after {
    dipslay:block;
    position:absolute;
    content:' ';
    right:0;
    width:20px;
    height:30px;
    border-radius:0 50% 50% 0;
    background:#000;
    top:50%;
    margin-top:-15px;
    margin-right:-21px;
  }
  span {
    font-size : 4rem;
  }
}

#success {
  height:100%;
  margin-top:20px;
  svg {
    margin-top:30px;
  }
}

svg {
  #Calque_2 {
    position:relative;
  }
}


#glycemy-value {
  position:absolute;
  z-index:99999;
  text-align:center;
  line-height: 100%;
  vertical-align: middle;
  padding-top:48px;
  font-size:3rem;
  font-family: $neucha;
  font-weight: bold;
  text-shadow:2px 2px 3px rgba(0,0,0,0.7);
  right:50px;
  top:34vh;
}
#Calque_3 {
  z-index:999999;
}
#carouselExampleInterval {
  height:100vh;
  min-height:100vh;

  .semi {
    display:block;
    width:100vw;
    height:50vh;
    text-align: center;
    #send-button {
      img {
        width:100%;
        height:auto;
        box-shadow: 10px 10px 10px #000;
      }
    }
  }
  #loopy-1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    svg {
      max-height:100vh;
      width: auto;
      float:right;
    }
  }
  .loopyblue {
    background: $loopy-blue;
  }
  #slider {
    z-index:999999;
    position:absolute;
    top:10vh;
    left:10vh;
    height: 80vh;
    width:30px;
    border-radius:200px;
    border:5px solid #fff;

    .noUi-handle {
      border-radius : 50%;
      width:50px;
      height:50px;
      margin-left:8vw;
      margin-right:0;
      right:-15px;
      &::before {
        background:none;
      }
      &::after {
        background:none;
      }
    }
    .noUi-base {
      border-radius:200px;
    }
    .noUi-connects {
      border-radius:200px;
      background:linear-gradient(to bottom, #C2000B, #FF8000, #F2F91C, #80C41C, #579BCC);
    }
  }
  .carousel-inner {
    min-height: 100vh;
    height: 100vh;
    .carousel-item {
      min-height: 100vh;
      height: 100vh;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}
