<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for patient in patients %}
        <tr id="{{ patient.id }}">
            <th scope="row"><i class="fas fa-angle-right"></i></th>
            <td>{{patient.firstName}}</td>
            <td>{{ patient.surname |upper}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
