<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Prénom  Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for patient in patients %}
            <tr id="{{ patient.id }}">
                <th scope="row"><i class="fas fa-angle-right"></i></th>
                <td><a href="{{ path('doctor_patient', {'id': patient.id}) }}" class="text-dark text-decoration-none">{{patient.firstName ~ ' ' ~ patient.surname |upper}}</a></td>
            </tr>
        </a>
    {% endfor %}
    </tbody>
</table>
