{% extends 'base.html.twig' %}

{% block title %}Hello DoctorController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                //to implant patient data
            </div>
            <div class="col-3">
                {% include '/doctor/_sidenav.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
