{% extends 'base.html.twig' %}

{% block title %}Hello DoctorController!{% endblock %}

{% block body %}
    <h1></h1>
blabla
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
        <tr>
            <th scope="row"><i class="fas fa-angle-right"></i></th>
            <td>{{patient.firstName}}</td>
            <td>{{ patient.surname }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
