{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <input type="hidden" data-id="{{ choosenPatient.id }}">
                <div class="row">
                    <!--chart-->
                    <div class="col-5">
                        <p>Patient : {{ choosenPatient.firstName| capitalize ~ ' ' ~ choosenPatient.surname |upper }} <br>
                            Date de Naissance : {{ choosenPatient.birthday | date ('d/m/Y') }}
                        </p>
                        {{ include('/doctor/patient/_form_edit_limit.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% include '/doctor/_sidenav.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
