<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author"
          content="Vaillant François, Regnault Marien, Guérin Amélie, Luminic Thomas, Erpeldinger Guillaume">
    <meta name="description" content="">
    <title>{% block title %}Loopy{% endblock %}</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&family=Oswald&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    {% block header %}

    {% endblock %}
</header>

<main>
    {% block body %}
    {% endblock %}
</main>

{% block footer %}

{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascript %}{% endblock %}
</body>

</html>
