{% apply inline_css() %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

        div {
            width: 100%;
            height: 100%;
            text-align: center;
        }
        p {
            margin-top: 50px;
            font-size: 25px;
            font-family: 'Oswald', sans-serif;
        }
        img {
            width: 300px;
            height: 300px;
        }
    </style>
    <div>
        <img src="{{ email.image('@images/loopy2.svg') }}" alt="Loopy">
        <h2>Le {{ patient.doctor.surname }} {{ patient.doctor.firstname }}</h2>
        <p>Cliquer ici pour vous connecter</p>
    </div>
{% endapply %}
