{% apply inline_css() %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

        div {
            width: 100%;
            min-height: 100%;
            background-color: #579BCC;
            text-align: center;
            font-family: 'Oswald', sans-serif;
        }
        h1 {
            color: white;
            font-size: 50px;
        }
        p {
            margin-top: 50px;
            font-size: 25px;
        }
        img {
            width: 300px;
            height: 300px;
        }
    </style>
    <div>
        <img src="{{ email.image('@images/logo2.svg') }}" alt="Loopy">
        <br>
            <h2>Loopy vous informe qu'il ne se sent pas très bien</h2>
        <br>
        <br>
            <p>Le taux de {{ patient.firstname }} est {{ context == 'up' ? 'au dessus' : 'en dessous' }} de la limite.</p>
            <p>Si le taux ne se stabilise pas veuillez prendre rendez vous avec {{ patient.doctor.surname }}</p>
        <br>
        <br>
    </div>
{% endapply %}
