{% apply inline_css() %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

        div {
            width: 100%;
            height: 100%;
            text-align: center;
        }
        p {
            margin-top: 50px;
            font-size: 25px;
            font-family: 'Oswald', sans-serif;
        }
        img {
            width: 300px;
            height: 300px;
        }
        card {
            margin: 0 auto;
        }
    </style>
    <div>
        <img src="{{ email.image('@images/logo2.svg') }}" alt="Loopy">
        <div class="card">
            <h1>{{ subject }}</h1>
            <p>{{ content }}</p>
        </div>
    </div>
{% endapply %}
